<div class="w-100 h-100 home">
    <div class="">
        <img class="geco" src="./assets/geconomicus.png" alt="">
    </div>
    <div class="">
        <img class="img-top" src="./assets/G1-logo-bleu_la-june.webp" alt="">
    </div>
    <div class="mt4">
        <button mat-raised-button color="accent" (click)="onCreate()">Créer une partie</button>
    </div>
    <div class="mt-1">
      <button mat-raised-button color="primary" (click)="join()">Rejoindre une partie
        <fa-icon [icon]="faCamera"></fa-icon>
      </button>
    </div>
    <div class="mt4">
        <img class="img-bottom" src="./assets/cards.png" alt="">
    </div>
    <div class="mt4">
      <a href="https://geconomicus.glibre.org/" target="_blank">L'original en version papier ?</a>
    </div>
</div>
<app-version></app-version>

