.img-top{
  width: 200px;
  margin-left: 13px;
}
.img-bottom{
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.home{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
