<div class="w-100 h-100 home">
    <div class="">
        <img class="geco" src="./assets/geconomicus.png" alt="">
    </div>
  <!--  GUNY  -->
  <div class="mt-4 d-flex flex-column align-items-center">
    <div class="text-center bulle gecoFont bienvenue">Découvrez la monnaie libre par le jeu !</div>
    <img class="guny" src="./assets/guny.png" alt="" (click)="beep()">
  </div>
    <div class="mt4">
        <button mat-raised-button color="accent" (click)="onCreate()">Créer une partie</button>
    </div>
    <div class="mt-1">
      <button mat-raised-button color="primary" (click)="join()">Rejoindre une partie
        <fa-icon [icon]="faCamera"></fa-icon>
      </button>
    </div>
    <div class="mt4">
        <img class="img-bottom" src="./assets/cards.png" alt="">
    </div>
    <div class="mt4">
      <a href="https://geconomicus.glibre.org/" target="_blank">L'original en version papier ?</a>
    </div>
  <audio #coins>
    <source src="assets/coins-on-table.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
</div>
<app-version></app-version>

