
.header-board {
	height: 100px;
}


.player-board {
	width: 200px;
	height: 300px;
	overflow: auto;
}

.svg {
	width: 60px;
	height: 60px;
	border: solid #5398ca 2px;
	border-radius: 40px;
	background: rgba(255, 255, 255, 0.65);
}


.player {
	margin: 5px;
	justify-content: space-between;

	&-frame {
		background: white;
	}

	&-svg {
		width: 60px;
		height: 60px;
		border-radius: 80px;
		border: solid black 2px;
		box-shadow: 2px 2px 4px -2px black;
	}

	&-svgSmall {
		width: 70px;
		height: 70px;
		border-radius: 80px;
		border: solid black 2px;
		box-shadow: 2px 2px 4px -2px black;
	}
}

.dead {
	position: absolute;
	width: 200px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}	
.alive {
	display: none;
}