<div class="contract d-flex flex-column">
	<div class="status" [ngClass]="credit.status">
		<div>
			<div *ngIf="credit.status === 'running'" class="progress progress-bar-striped progress-bar-animated"
					 role="progressbar"
					 [style.width.%]="credit.progress">
			</div>
			<div class="statusLabel">{{ getStatus(credit.status) }}</div>
		</div>
	</div>
	<div *ngIf="!small" class="fw-bold text-truncate">{{ contractor }}</div>
	<div *ngIf="!small" class="fontName"><span class="fw-bold">Créé :</span>{{ credit.createDate| date: "YY-MM-dd HH:mm" }}</div>
	<div class="fontName"><span class="fw-bold">Crédit :</span>{{ credit.amount }}</div>
	<div class="fontName"><span class="fw-bold">Interet :</span>{{ credit.interest }} payable toutes les {{ interestMinutes }} minutes</div>
	<div *ngIf="credit.status===C.CREDIT_DONE" class="fontName"><span class="fw-bold">Clos le :</span>{{ credit.endDate | date:"YY-MM-dd HH:mm" }}
	</div>
	<div class="fontName"><span class="fw-bold">Prolongé :</span>{{ credit.extended }}</div>
	<button *ngIf="!bankOption && credit.status===C.RUNNING_CREDIT" class="buttonContrat" mat-raised-button
					color="primary"
					(click)="actionBtnClick('settle')">Rembourser la dette
		<fa-icon [icon]="faSackDollar"></fa-icon>
	</button>
	<button *ngIf="!bankOption && credit.status===C.REQUEST_CREDIT" class="buttonContrat" mat-raised-button color="accent"
					(click)="actionBtnClick('answer')">Répondre
		<fa-icon [icon]="faCommentsDollar"></fa-icon>
	</button>
	<button *ngIf="bankOption && credit.status===C.DEFAULT_CREDIT" class="buttonContrat" mat-raised-button color="warn"
					(click)="actionBtnClick('seizure')">Saisir
		<fa-icon [icon]="faSackDollar"></fa-icon>
	</button>
</div>
