<ng-container *ngIf="state==='flipped'">
	<div class="whenFlipped" (click)="closeCard()"></div>
</ng-container>
<div class="card"  [@cardFlip]="{value: state, params: { translateX: translateX, translateY: translateY , width: width, height: height}}">
	<div class="face" [style.width]="width" [style.height]="height" (click)="cardClicked()" [ngClass]="[card.color]">
		<div class="containerIcon" [ngClass]="state==='flipped' ? 'hide' : 'show'">
			<span [style.font-size]="iconSize" [style.line-height]="iconSize" class="icon">
				{{ card.key+"i" | translate }}</span>
		</div>
	</div>
	<div class="face back text-center d-flex flex-column" (click)="cardClicked()" [ngClass]="card.color">
		<div class="d-flex flex-row align-items-center">
			<div [style.font-size]="iconSize" [style.line-height]="iconSize" class="icon m-2">{{ card.key+"i" | translate }}</div>
			<div class="prices d-flex flex-column justify-content-between">
				<div [style.font-size]="priceSize" [style.line-height]="priceSize" class="price">
					 {{ card.price }} {{ typeMoney === "june" ? ("CURRENCY.DU" | translate) : ("CURRENCY.EURO" | translate) }}
				</div>
				<div [style.font-size]="smallPriceSize" [style.line-height]="smallPriceSize" class="price"
				     *ngIf="typeMoney==='june'">({{ (currentDU * card.price)| number:'1.2-2' }} {{ "CURRENCY.JUNE" | translate }})
				</div>
			</div>
		</div>
		<div class="qrcodeWrapper flex-grow-1">
			<div class="shortCode" *ngIf="shortCode">{{ shortCode.code }}</div>
			<ngx-kjua
					[text]="getData()"
					[minVersion]="1"
					[crisp]="true"
					[ecLevel]="'Q'"
					[render]="'svg'"
			></ngx-kjua>
		</div>
	</div>
</div>
<!-- Preload -->
<audio #cardFlip>
	<source src='/assets/audios/cardFlipGet.mp3' type="audio/mp3">
</audio>
<audio #cardBack>
	<source src='/assets/audios/cardFlipBack.mp3' type="audio/mp3">
</audio>
