<ng-container *ngIf="state==='flipped'">
	<div class="overlay" (click)="closeCard()"></div>
</ng-container>
<div class="card" [ngClass]="[card.color]"
     [@cardFlip]="{value: state, params: { translateX: translateX, translateY: translateY, height, width}}">
	<div class="face" *ngIf="state==='default'" (click)="cardClicked()">
		<div [style.font-size]="iconSize" class="card-icon">
			{{ card.key + "i" | translate }}
		</div>
		<div [style.font-size]="textSize" class="card-text">{{ card.key + "n" | translate }}</div>
		<div [style.font-size]="letterSize" [style.line-height]="letterSize" class="card-letter contour">&nbsp;{{ card.letter }}&nbsp;</div>
	</div>
	<div class="back d-flex flex-column align-items-center" [ngClass]="[card.color]" *ngIf="state==='flipped'"
	     (click)="cardClicked()">
		<div class="d-flex flex-row justify-content-between w-100">
			<div class="iconBack">{{ card.key + "i" | translate }}</div>
			<div class="card-text">{{ card.key + "n" | translate }}</div>
			<div class="contour">&nbsp;{{ card.letter }}&nbsp;</div>
		</div>
		<div class="prices d-flex flex-column justify-content-between">
			<div class="price">
				{{ card.price }} {{ typeMoney === C.JUNE ? ("CURRENCY.DU" | translate) : ("CURRENCY.EURO" | translate) }}
			</div>
			<div class="price"
			     *ngIf="typeMoney==='june'">({{ (currentDU * card.price)| number:'1.2-2' }} {{ "CURRENCY.JUNE" | translate }})
			</div>
		</div>
		<div class="flex-grow-1 w-100 h-100">
			<div class="qrcodeWrapper">
				<div class="shortCode" *ngIf="shortCode">{{ shortCode.code }}</div>
				<ngx-kjua [text]="getData()" [minVersion]="1" [crisp]="true" [ecLevel]="'M'" [render]="'svg'"></ngx-kjua>
			</div>
		</div>
	</div>
</div>
