.card {
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  //height: calc(28vw * 1.5);
  //width: calc(28vw);
  //width: calc(100% * 1.5);
  //height: calc(100% * 1.5);
  max-width: 250px;
  max-height: 375px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  z-index: 1;
}

.whenFlipped {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

.containerLetter {
  backface-visibility: hidden;
  z-index: 2;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.topLeft {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.bottomRight {
  backface-visibility: hidden;
  position: absolute;
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}


.badge {
  backface-visibility: hidden;
  position: absolute;
  color: #FFFFFF;
  z-index: 3;
  right: 5px;
  top: 5px;
}

.transform {
  position: absolute;
  z-index: 20;
  height: 33%;
  width: 100%;
  bottom: 33%;
  left: 0;
}

.face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backface-visibility: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.back {
  background-size: contain;
  transform: rotateY(180deg);
}

.red {
  background-color: #E8A7A6;
  .mat-badge-content {
    background: #ce1421;
  }
}

.yellow {
  background-color: #F3EFAD;
  .mat-badge-content {
    background: #c4bb13;
  }
}

.green {
  background-color: #A2CBA2;
  .mat-badge-content {
    background: #14a549;
  }
}

.blue {
  background-color: #BBDAE3;
  .mat-badge-content {
    background: #3c8fa2;
  }
}

.qrcodeWrapper {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: strict;
}


.letter {
  //font-size: calc(28vw * 0.33); /* Adjust the multiplier as needed */
  //line-height: calc(28vw * 0.33); /* Adjust the multiplier as needed */
  font-family: serif;
  z-index: 10;
}

.price {
  //line-height: calc(25vw * 0.2); /* Adjust the multiplier as needed */
  //font-size: calc(25vw * 0.1);
  font-family: serif;
}

/* Apply a conditional statement to limit the font size */
//@media (min-width: 1080px) {
//  .letter {
    //font-size: 7rem !important;
    //line-height: 7rem !important;
    //font-family: serif;
    //z-index: 10;
  //}
//}

/* Apply a conditional statement to limit the font size */
//@media (min-width: 1080px) {
//  .price {
//    font-size: 1.5rem !important;
//    line-height: 1.5rem !important;
//    font-family: serif;
//  }
//}
