<ng-container *ngIf="state=='flipped'">
  <div class="whenFlipped" (click)="closeCard()"></div>
</ng-container>
<div class="card" [@cardFlip]="{value: state, params: { translateX: translateX, translateY: translateY }}">
  <div class="face" (click)="cardClicked()" [ngClass]="[card.color]">
    <img [src]="'/assets/lvl'+(card.weight+1)+'.png'"/>
    <div class="containerLetter topLeft">
      <span class="letter">{{card.letter}}</span>
    </div>
    <div class="containerLetter bottomRight">
      <span class="letter">{{card.letter}}</span>
    </div>
    <div *ngIf="card.count>1" [matBadge]="card.count" matBadgeSize="large" class="badge"
         [ngClass]="card.color+'Color'"></div>
    <button *ngIf="card.count===4" (click)="transformCarrer()" mat-raised-button color="accent" class="transform">
      Construire le carré
      <fa-icon [icon]="faGift"></fa-icon>
    </button>
  </div>
  <div class="face back text-center" (click)="cardClicked()" [ngClass]="card.color">
    <div class="letter">{{card.letter}}
      <span class="price">prix:{{card.price}} {{typeMoney === "june" ? "DU" : ""}}</span>
    </div>
    <div class="qrcodeImage">
      <qrcode
        [qrdata]="getData()"
        [allowEmptyString]="true"
        [cssClass]="'qrcodeImage'"
        [colorDark]="'#000000'"
        [colorLight]="'#ffffff'"
        [elementType]="'svg'"
        [errorCorrectionLevel]="'M'"
        [margin]="2"
        [scale]="3"
        [width]="qrWidthCard"
      ></qrcode>
    </div>
  </div>
</div>
<!-- Preload the image -->
<img src="/assets/lvl1.png" style="display: none;"/>
<img src="/assets/lvl2.png" style="display: none;"/>
<img src="/assets/lvl3.png" style="display: none;"/>
<img src="/assets/lvl4.png" style="display: none;"/>
