<div class="contract d-flex flex-column">
	<div class="status" [ngClass]="credit.status">
		<div>
			<div
				*ngIf="credit.status === 'running'"
				class="progress progress-bar-striped progress-bar-animated"
				role="progressbar"
				[style.background-color]="getStatusColor(credit.progress)"
				[style.width.%]="credit.progress"></div>
			<div class="statusLabel">{{ getStatus(credit.status) | translate }}</div>
		</div>
	</div>
	<div *ngIf="!small" class="d-flex flex-row align-content-center">
		<avatar [avatar]="contractor" [width]="'40px'" [height]="'40px'" [namePosition]="'right'"></avatar>
	</div>
	<div *ngIf="!small" class="fontName">
		<span class="fw-bold">{{ 'CREDIT.CREATED' | translate }} :</span>
		{{ credit.createdAt | date: 'YY-MM-dd HH:mm' }}
	</div>
	<div *ngIf="!small" class="fontName">
		<span class="fw-bold">{{ 'CREDIT.STARTED' | translate }} :</span>
		{{ (credit.startedAt | date: 'YY-MM-dd HH:mm') || '-' }}
	</div>
	<div class="fontName m-1">
		<span class="fw-bold">{{ 'CREDIT.DEBT' | translate }} :</span>
		<mat-chip>
			{{ credit.amount }}
		</mat-chip>
		+
		<mat-chip>
			{{ credit.interest }}
			<fa-icon
				[icon]="faCircleInfo"
				[matTooltip]="'CREDIT.NOTICE_INTEREST' | translate: { interestMinutes }"></fa-icon>
		</mat-chip>
	</div>
	<div *ngIf="credit.status === CREDIT_DONE || credit.status === CREDIT_CANCELED" class="fontName m-1">
		<span class="fw-bold">{{ 'CREDIT.DONE_AT' | translate }} :</span>
		{{ credit.endAt | date: 'YY-MM-dd HH:mm' }}
	</div>
	<div class="fontName m-1">
		<span class="fw-bold">{{ 'CREDIT.EXTENDED' | translate }} :</span>
		{{ credit.extended }}
	</div>
	<button
		*ngIf="!bankOption && credit.status === RUNNING_CREDIT"
		class="buttonContrat"
		mat-raised-button
		color="primary"
		(click)="actionBtnClick('settle')">
		{{ 'CREDIT.SETTLE' | translate }}
		<fa-icon [icon]="faSackDollar"></fa-icon>
	</button>
	<button
		*ngIf="!bankOption && credit.status === REQUEST_CREDIT"
		class="buttonContrat"
		mat-raised-button
		color="accent"
		(click)="actionBtnClick('answer')">
		{{ 'CREDIT.ANSWER' | translate }}
		<fa-icon [icon]="faCommentsDollar"></fa-icon>
	</button>
	<button
		*ngIf="bankOption && credit.status === DEFAULT_CREDIT"
		class="buttonContrat"
		mat-raised-button
		color="warn"
		(click)="actionBtnClick('seizure')">
		{{ 'CREDIT.SEIZE' | translate }}
		<fa-icon [icon]="faSackDollar"></fa-icon>
	</button>
</div>
