:host * {
  transition: all 0.3s ease-in-out;
}

/* Pour les éléments qui apparaissent/disparaissent */
.fade-enter {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-leave {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.lobby-master {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.geco {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.templateQrCode {
  //margin: auto;
  text-align: center;
  background-image: url("/assets/images/templateJoinQrCode.svg");
  background-size: cover;
  width: 400px;
  height: 400px;
}

.guny {
  width: 250px;
}

.content-item {
  width: 350px;
  height: 350px;

  .inner-item {
    height: 240px;
    position: relative;
  }
}

.qrcodeImage {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 86px;
  padding-left: 13px;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.joinQr {
  margin-left: 5px;
}

.delete {
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
  z-index: 10;
  color: #f44336;
}

.games {
  animation: fade 2s;
  display: flex;
  align-items: center;
}

.game {
  width: 180px;
  border-radius: 50%;
  cursor: pointer;

  &-empty {
    border: 4px dashed #333;
  }
}

.hide {
  opacity: 0;
  display: none;
}
