.geco {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.templateQrCode {
  margin: auto;
  text-align: center;
  background-image: url("/assets/images/templateJoinQrCode.svg");
  background-size: cover;
  width: 400px;
  height: 400px;
}

.guny {
  width: 300px;
}

.bienvenue {
  position: relative;
  top: 25px;
  left: 25%;
}

.svg {
  left: 6px;
  top: 76px;
  position: relative;
}

.partyLeft {
  padding: 10px;

  .text {
    height: 20px;
  }
}

.qrcodeImage {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 86px;
  padding-left: 13px;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.innerQr {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.input {
  width: 135px;
}

.imgText {
  width: 200px;
}

.itemRight {
  justify-content: start;
}

.itemLeft {
  justify-content: end;
}

.videoCard {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin: 10px;
  box-shadow: 2px 2px 10px -2px black;
}

.countDownContainer {
  display: block;
  position: relative;

  .time {
    font-size: 65px;
    position: absolute;
    display: flex;
    top: 46%;
    left: 23%;
  }
}

.deuxpoints {
  line-height: 10px;
}

.imgCardValeur {
  height: 50px;
  border-radius: 4px;
}

.player {
  margin: 5px;
  justify-content: space-between;

  &-frame {
    background: white;
  }

  &-action {
    height: 20px;
  }

  .joinQr {
    margin-left: 5px;
  }

  .delete {
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 10;
    color: #f44336;
  }
}

.backgroundPlayers {
  padding: 5px;
  overflow: auto;
  height: 100%;
  min-height: 400px;

  &-Small {
    padding: 5px;
    max-height: 350px;
  }
}

.dead {
  position: relative;
  left: 15%;
  top: 43%;
  font-size: 50px;
}

.deadprompt {
  position: relative;
  cursor: pointer;
  left: 15%;
  top: 43%;
  font-size: 50px;
}
