<div class="lobby-master darkBg h-100" *ngIf="session$ | async as session">
	<div class="d-flex flex-column h-100 dots overflow-auto">
		<!-- HEADER  -->
		<div class="d-flex flex-row justify-content-between flex-wrap">
			<img class="geco glow" src="./assets/images/geconomicus.png" alt="" />
			<div class="d-flex flex-row align-items-center flex-wrap gap-2">
				<button
					class="box-shadowed blur whiteBtn"
					*ngIf="session.status === OPEN || session.devMode"
					mat-stroked-button
					(click)="editSession()">
					<mat-icon>settings</mat-icon>
					{{ 'MASTER.EDIT' | translate }}
				</button>
				<app-tasklist-btn [stroked]="true" [white]="true"></app-tasklist-btn>
				<app-notice-btn
					[amountCardsForProd]="4"
					[timerCredit]="5"
					[stroked]="true"
					[white]="true"></app-notice-btn>
				<app-language-btn [short]="true" [white]="true"></app-language-btn>
			</div>
		</div>
		<!-- TITLE  -->
		<div>
			<div class="fs-1 text-center pt-4 pb-4 shadowed">
				{{ session.status !== 'open' ? session.name : ('MASTER.JOIN' | translate: { name: session.name }) }}
			</div>
		</div>
		<!-- CONTENT  -->
		<div
			class="d-flex flex-row flex-wrap gap-3"
			[ngClass]="session.status === 'open' ? 'justify-content-center' : 'justify-content-center'">
			<!-- QR CODE    -->
			<div [ngClass]="session.status === 'open' ? 'content-item' : 'hide'">
				<div class="templateQrCode">
					<div class="qrcodeImage">
						<ngx-kjua
							class="ngx-kjua"
							[size]="255"
							[text]="joinLink"
							[render]="'svg'"
							[fontcolor]="'#FF9818'"
							[fontname]="'arial'"
							[mode]="'label'"
							[mSize]="17"
							[quiet]="3"
							[ecLevel]="'H'"
							[crisp]="true"
							[label]="session.shortId"></ngx-kjua>
					</div>
				</div>
			</div>
			<!--  GUNY  -->
			<div class="content-item d-flex flex-column justify-content-center align-items-center">
				<div class="inner-item d-flex flex-column justify-content-center align-items-center">
					<bulle
						*ngIf="session.status === 'open'"
						[pointer]="true"
						[contents]="[
							'MASTER.GUNY_WELCOME' | translate,
							'MASTER.SCAN_QR' | translate: { webHost: environment.WEB_HOST },
						]"></bulle>
					<bulle
						*ngIf="session.status !== 'open'"
						[pointer]="true"
						[contents]="['MASTER.GUNY_ENJOY']"></bulle>
					<img class="guny halo" src="./assets/images/guny.png" alt="" />
				</div>
			</div>
			<!--  OPTIONS  -->
			<div
				*ngIf="session.status === 'open'"
				class="content-item-session d-flex flex-column justify-content-center align-items-center session">
				<div class="inner-item d-flex flex-column">
					<div class="fs-6 fw-bold text-uppercase d-flex align-items-center gap-2 contourText">
						<mat-icon>info_outline</mat-icon>
						{{ 'MASTER.SESSION_INFO' | translate }}
					</div>
					<div class="fs-6 mt-2">
						🔗
						<button mat-stroked-button (click)="copyJoinLink()">
							{{ 'MASTER.JOIN_LINK' | translate }}
						</button>
					</div>
					<div class="fs-6 mt-2">
						👤 {{ 'ANIMATOR' | translate }}:
						<span class="fw-bold contourText">{{ session.animator }}</span>
					</div>
					<div class="fs-6 mt-2">
						📍 {{ 'LOCATION' | translate }}:
						<span class="fw-bold contourText">{{ session.location | translate }}</span>
					</div>
					<div class="fs-6 mt-2 mb-2">
						🎨 {{ 'MASTER.THEME' | translate }}:
						<span class="fw-bold contourText">{{ session.theme | translate }}</span>
					</div>
					<div class="divider"></div>
					<div class="fs-6 fw-bold text-uppercase d-flex align-items-center gap-2 contourText">
						<mat-icon>play_circle_outline</mat-icon>
						{{ 'MASTER.SESSION_STATE' | translate }}
					</div>
					<div class="fs-6 mt-2 mb-2">
						<span *ngIf="session.avatars.length < 6" class="fw-bold">
							{{ 'MASTER.SESSION_WAITING' | translate }}
						</span>
						<span *ngIf="session.avatars.length >= 6 || session.devMode">
							{{ 'MASTER.SESSION_READY' | translate }}
						</span>
					</div>
					<div class="fs-6 mt-1">
						<span *ngIf="session.avatars.length < 6 && !session.devMode">
							{{ 'MASTER.WAITING' | translate: { count: 6 - session.avatars.length } }}
						</span>
					</div>
					<div class="flex-grow-1"></div>
					<button
						class="box-shadowed blur"
						[color]="'primary'"
						[disabled]="session.avatars.length < 6 && !session.devMode"
						mat-raised-button
						(click)="startSession()">
						<mat-icon>groups</mat-icon>
						{{ 'MASTER.START' | translate }}
					</button>
				</div>
			</div>
			<!--  games  -->
			<div *ngIf="session.status !== 'open'" class="content-item games">
				<div class="">
					<div class="d-flex flex-row gap-3">
						<div *ngFor="let rule of session.gamesRules" class="game flex-wrap">
							<div class="d-flex flex-column align-items-center">
								<coin
									[coinImage]="'./assets/images/' + rule.typeMoney + '.png'"
									[label]="(rule.typeMoney === JUNE ? 'FREE_MONEY' : 'DEBT_MONEY') | translate"
									(click)="rule.rotate = !rule.rotate"
									[forceRotate]="rule.rotate"></coin>
								<div class="fs-7 text-center white">
									{{ rule.gameStatus === NONE ? ('MASTER.GAME_NOT_PLAYED' | translate) : '' }}
									{{ rule.gameStatus === INITIALIZED ? ('MASTER.GAME_OPEN' | translate) : '' }}
									{{ rule.gameStatus === PLAYING ? ('MASTER.GAME_IN_PROGRESS' | translate) : '' }}
									{{ rule.gameStatus === PAUSED ? ('MASTER.GAME_PAUSED' | translate) : '' }}
									{{ rule.gameStatus === STOPPED ? ('MASTER.GAME_ENDED' | translate) : '' }}
								</div>
								<button
									*ngIf="rule.gameStatus === NONE"
									class="contourText"
									mat-button
									[color]="session.devMode ? 'accent' : 'primary'"
									(click)="editRules(rule)">
									<mat-icon *ngIf="session.devMode">settings</mat-icon>
									{{ 'MASTER.DURATION' | translate: { minutes: rule.roundMinutes } }}
								</button>
								<button
									*ngIf="rule.gameStatus === NONE"
									class="mt-1 box-shadowed"
									mat-raised-button
									color="primary"
									(click)="createGame(rule.idx)">
									<mat-icon>add</mat-icon>
									{{ 'MASTER.CREATE_GAME' | translate }}
								</button>
								<button
									*ngIf="
										(session.devMode && rule.gameStatus !== NONE) ||
										(!session.devMode && rule.gameStatus !== NONE && rule.gameStatus !== STOPPED)
									"
									class="mt-1 box-shadowed"
									mat-raised-button
									color="warn"
									(click)="killGame(rule.idx, rule.gameStateId)">
									<mat-icon class="outlined">delete_forever</mat-icon>
									{{ 'MASTER.KILL_GAME' | translate }}
								</button>
								<button
									*ngIf="
										rule.gameStatus === CREATED ||
										rule.gameStatus === INITIALIZED ||
										rule.gameStatus === PLAYING ||
										rule.gameStatus === PAUSED
									"
									class="m-2 box-shadowed"
									mat-raised-button
									color="primary"
									[routerLink]="['/master', sessionId, rule.gameStateId]">
									<mat-icon>login</mat-icon>
									{{ 'MASTER.ENTER_GAME' | translate }}
								</button>
								<button
									color="accent"
									[matTooltip]="'MASTER.WARNING_RESULTS' | translate"
									mat-stroked-button
									*ngIf="rule.gameStatus === STOPPED"
									class="m-2 box-shadowed"
									(click)="showResults()">
									<mat-icon>analytics</mat-icon>
									{{ 'MASTER.SHOW_RESULTS' | translate }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER and PLAYERS  -->
		<div class="flex-grow-1" [ngClass]="session.status === OPEN ? '' : ''">
			<div class="d-flex flex-column h-100">
				<div class="text-center">
					<h2 class="fs-3 shadowed m-4 geconomicusFont">
						{{ 'MASTER.USERS_CONNECTED' | translate }}
						<span
							*ngIf="warningHairColorDuplicate"
							(click)="fixDuplicateHairColor()"
							class="mousePointer"
							[matTooltip]="'WARNING.FIX_DUPLICATE_COLOR' | translate">
							⚠️
						</span>
					</h2>
				</div>
				<div class="ms-2 me-2 flex-grow-1">
					<div class="d-flex justify-content-center">
						<div class="players rounded-box">
							<div class="d-flex flex-row justify-content-center flex-wrap gap-2">
								<div
									*ngFor="let avatar of session.avatars"
									class="d-flex flex-column align-items-center">
									<avatar
										[avatar]="avatar"
										[width]="'120px'"
										[height]="'120px'"
										[namePosition]="'bottom'"
										[matMenuTriggerFor]="aboveMenu"></avatar>
									<mat-menu #aboveMenu="matMenu" yPosition="above">
										<button mat-menu-item [routerLink]="['/avatar', sessionId, avatar.idx]">
											<mat-icon>play_arrow</mat-icon>
											<span>{{ 'MASTER.PLAY_USER' | translate }}</span>
										</button>
										<button mat-menu-item (click)="copyPlayerLink(avatar.idx)">
											<mat-icon>link</mat-icon>
											<span>{{ 'MASTER.COPY_USER_LINK' | translate }}</span>
										</button>
										<button mat-menu-item (click)="reJoin(avatar.idx, avatar.name)">
											<mat-icon>qr_code_2</mat-icon>
											<span>{{ 'MASTER.JOIN_VIA_QR_CODE' | translate }}</span>
										</button>
										<button mat-menu-item (click)="allowRedirectSurvey(avatar.idx)">
											<mat-icon>how_to_vote</mat-icon>
											<span>{{ 'MASTER.ALLOW_SURVEY_REDO' | translate }}</span>
										</button>
										<button mat-color="warn" mat-menu-item (click)="onDeleteUser(avatar)">
											<mat-icon [color]="'warn'">person_remove</mat-icon>
											<span>{{ 'MASTER.DELETE_USER' | translate }}</span>
										</button>
									</mat-menu>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
