<h2 mat-dialog-title>Scan QR Code</h2>
<mat-dialog-content>
	<ngx-scanner-qrcode
		#action="scanner"
		[config]="config"
		(event)="onEvent($event, action)">
	</ngx-scanner-qrcode>
</mat-dialog-content>
<mat-dialog-actions [align]="'center'">
	<mat-form-field appearance="fill">
		<mat-label>Camera</mat-label>
		<select #select1 (change)="cameraChanged(select1.value)"  matNativeControl required>
			<option [value]="null" selected>Select device</option>
			<option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId" [selected]="i == action.deviceIndexActive">{{c.label}}</option>
		</select>
	</mat-form-field>
	<button mat-button (click)="closeDialog()">Annuler</button>
</mat-dialog-actions>
