<div class="contract d-flex flex-column">
  <div class="status" [ngClass]="credit.status">
    <div>
      <div *ngIf="credit.status == 'running'" class="progress progress-bar-striped progress-bar-animated"
           role="progressbar"
           [style.width.%]="credit.progress">
      </div>
      <div class="statusLabel">{{ getStatus(credit.status) }}</div>
    </div>
  </div>

  <div class="fw-bold text-truncate">{{ contractor }}</div>
  <div class="fontName">créé : {{ credit.createDate| date: "YY-MM-dd HH:mm" }}</div>
  <div class="fontName">credit : {{ credit.amount }}</div>
  <div class="fontName">interet : {{ credit.interest }} payable toutes les {{ interestMinutes }} minutes</div>
  <div *ngIf="credit.status==C.CREDIT_DONE" class="fontName">clos le : {{ credit.endDate }}</div>
  <button *ngIf="credit.status==C.RUNNING_CREDIT" class="buttonContrat" mat-raised-button color="primary"
          (click)="terminate()">Rembourser la dette
    <fa-icon [icon]="faSackDollar"></fa-icon>
  </button>
  <button *ngIf="credit.status==C.REQUEST_CREDIT" class="buttonContrat" mat-raised-button color="accent"
          (click)="answer()">Répondre
    <fa-icon [icon]="faCommentsDollar"></fa-icon>
  </button>
  <button *ngIf="bankOption && credit.status==C.DEFAULT_CREDIT" class="buttonContrat" mat-raised-button color="warn"
          (click)="seizure()">Saisir
    <fa-icon [icon]="faSackDollar"></fa-icon>
  </button>
</div>
