.contract{
  background: white;
  width: 160px;
  height: 180px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}
.fontName{
  font-size: small;

}

.warning {
}

.good {
  background-color: #A2CBA2 !important;
}

.buttonContrat{
  border-radius: 20px;
}

@keyframes cops {
  0%   { background: #3153ff; }
  50%  { background: #e80303; }
  100%   { background: #3153ff; }
}

.warning {
  background-color: #ff706e; /* Fallback */
  animation: cops 1s infinite ease;
}
