.contract{
  background: white;
  width: 160px;
  height: 180px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}
.fontName{
  font-size: small;

}
/* Set custom color for MatChip */
.warning {
  background-color: #ff706e !important; /* Your custom color code */
}

.good {
  background-color: #A2CBA2 !important;
}

.buttonContrat{
  border-radius: 20px;
}
