.seizure {
  overflow: auto;
  max-height: 100vh;
}

.player-board {
  width: 200px;
  height: 300px;
}

.sold{
  color: black;
  background: wheat;
  border: solid black 1px;
}

.bank-board {
  width: 200px;
  height: 300px;
}

.header-board {
  height: 100px;
}

.proBar {
  text-align: center;
  color: black;
}

.dropZone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: red dashed 2px;
  overflow: auto;
  height: 200px;
  width: 200px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.svg {
  width: 75px;
  height: 75px;
  border: solid #5398ca 2px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.65);
}

.dropText {
  position: absolute;
  color: gray;
  white-space: normal;
  width: 100px;
  word-wrap: break-word; /* For legacy browsers */
  word-break: break-word; /* Ensures long words break properly */
}

.smallInput {
  width: 40px;
}
