.recipe {
	border-radius: 20px;
	border: solid 1px beige;
	padding: 0.5rem;
}

.got {
	background-color: #A2CBA2 !important;
}

.level {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2px;
	font-size: 1rem;
}

.header {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;

	&-letter {
		font-size: 2rem;
	}

	&-level {
		font-size: 1rem;
	}

	&-icon {
		font-size: 2rem;
	}

	&-name {
		font-size: 1rem;
	}

	&-png {
		object-fit: scale-down;
		position: relative;
	}
}

.completed {
	width: 100%;
	height: 100%;
	display: contents;


	&-btn {
		position: absolute;
		width: 70%;
		height: 70%;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 20;
	}
}

.giftBounce {
	font-size: 1.3em;
	padding: 10px 20px;
	border-radius: 22px;
	animation: pulse 1.5s infinite;
}

.wheel-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wheel {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: conic-gradient(#ff990000 0% 8.33%, #ffe179c2 8.33% 16.66%, #ff000000 16.66% 25%, #ffe179c2 25% 33.33%, #ff000000 33.33% 41.66%, #ffe179c2 41.66% 50%, #ffffff00 50% 58.33%, #ffe179c2 58.33% 66.66%, #ffffff00 66.66% 75%, #ffe179c2 75% 83.33%, #ffffff00 83.33% 91.66%, #ffe179c2 91.66% 100%);
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1s ease-out;
	animation: spin 10s linear infinite;
	opacity: 0.5;
}


.red {
	background-color: #e8a7a68c;
	backdrop-filter: blur(3px);

	.mat-badge-content {
		background: #ce1421;
	}
}

.yellow {
	background-color: #f3f0ad8c;
	backdrop-filter: blur(3px);

	.mat-badge-content {
		background: #c4bb13;
	}
}

.green {
	background-color: #A2CBA28c;
	backdrop-filter: blur(3px);

	.mat-badge-content {
		background: #14a549;
	}
}

.blue {
	background-color: #BBDAE38c;
	backdrop-filter: blur(3px);

	.mat-badge-content {
		background: #3c8fa2;
	}
}
