<mat-card class="recipe d-flex flex-column" [ngClass]="getReceipeColor()">
	<!-- <div class="level">{{ recipe.weight+1 }}</div> -->
	<div class="header">
		<div class="header-letter contour">{{ recipe.letter }}</div>
		<div class="header-icon">{{ recipe.letter + "i" | translate }}</div>
		<div class="header-name">{{ recipe.letter + "n" | translate }}</div>
	</div>
	<div class="d-flex flex-column flex-wrap">
		<mat-chip *ngFor="let ingredient of recipe.ingredients" [ngClass]="ingredient.have > 0 ? 'got' : ''"
			(click)="ingredientClick(ingredient)">
			<fa-icon [icon]="faCheck" *ngIf="ingredient.have > 0"></fa-icon>
			{{ ingredient.key + "i" | translate }}
			{{ ingredient.key + "n" | translate }}
		</mat-chip>
	</div>
	<div  class="completed">
		<div *ngIf="recipe.completed" class="wheel-container">
			<div class="wheel"></div>
		</div>
		<button *ngIf="recipe.completed" class="completed-btn" (click)="buildCardLvlUp()" mat-raised-button color="accent">
			<div class="giftBounce">🛠️</div>
			{{ getBuildText() | translate }}
			🎁
		</button>
	</div>
</mat-card>