<div class="scanner-shell" [hidden]="!hasDevices">

  <mat-menu #appMenu="matMenu">
    <mat-selection-list>
      <mat-list-option  (click)="toggleTryHarder()" [selected]="tryHarder">
        Activer detection fine
      </mat-list-option>
      <mat-list-option (click)="toggleTorch()" [selected]="torchEnabled"
                       *ngIf="torchAvailable$ | async">
        Activer la lampe
      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openInfoDialog()">App info</button>
  </mat-menu>

  <header>
    <mat-form-field appearance="fill">
      <mat-select [value]="deviceSelected" (valueChange)="onDeviceSelectChange($event)">
        <mat-option value="">Pas de camera sélectionner</mat-option>
        <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </header>

  <zxing-scanner (deviceChange)="onDeviceChange($event)" (scanSuccess)="onCodeResult($event)"
                 (permissionResponse)="onHasPermission($event)"
                 (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Resultat</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
  </section>

</div>

<ng-container *ngIf="hasPermission === undefined">

  <h2>Attente de permissions.</h2>

  <blockquote>
    Si votre appareil n'as pas de caméra, les permissions ne seront pas demandé.
  </blockquote>

</ng-container>

<ng-container *ngIf="hasPermission === false">

  <h2>les permissions d'acces à la camera ont été bloqué, on ne peux rien scanné. 😪</h2>

</ng-container>

<ng-container *ngIf="hasDevices === undefined">

  <h2>Pas de check caméra possible.</h2>

  <blockquote>
    Probablement par une erreur de sécurité.
  </blockquote>

</ng-container>

<ng-container *ngIf="hasDevices === false">

  <h2>Pas de Camera trouvé.</h2>

  <blockquote>
    Avez vous vraiment une camera sur votre appareil ?
  </blockquote>

</ng-container>
