<ng-container *ngIf="vm$ | async as vm">
	<div class="blocked" *ngIf="vm.playerStatus === PRISON || defaultCredit">
		<div class="default-credit" *ngIf="defaultCredit">
			{{ 'PLAYER.GO_TO_BANK' | translate }}
		</div>
		<div class="prison" *ngIf="vm.playerStatus === PRISON" [@prisonDoor]="'in'">
			<div class="countDownContainer">
				<div class="time">
					<div class="minute shadowed">{{ minutesPrison | number: '2.0' }}</div>
					<div class="deuxpoints shadowed">:</div>
					<div class="seconds shadowed">{{ secondsPrison | number: '2.0' }}</div>
				</div>
				<mat-progress-spinner
					[color]="'warn'"
					[mode]="'determinate'"
					[diameter]="300"
					strokeWidth="20"
					[value]="prisonProgress"></mat-progress-spinner>
			</div>
		</div>
	</div>
	<div class="blocked" *ngIf="vm.playerStatus === DEAD">
		<div class="default-credit d-flex flex-column">
			<div class="shadowed fs-3">{{ 'PLAYER.THIS_LIFE_IS_GONE' | translate }}</div>
			<button (click)="tryReincarnate()" mat-raised-button color="accent">
				{{ 'PLAYER.GO_TO_SECOND_LIFE' | translate }}
			</button>
		</div>
	</div>

	<div
		class="game"
		[class.landscape]="isLandscape"
		[ngClass]="vm.avatar?.boardConf"
		[ngStyle]="getBackgroundStyle(vm.avatar?.boardConf, vm.avatar?.boardColor)">
		<!-- Title bar -->
		<!-- Portrait: avatar left, coins right -->
		<!-- Landscape: coins top, avatar bottom -->
		<div class="marginArround sold-container frame frame-light" (click)="refresh()">
			<div class="sold-1 d-flex flex-column">
				<div class="sold contourText">
					{{
						(vm.gameState.typeMoney === DEBT ? vm.coins : vm.coins / vm.gameState.currentDU)
							| number: '1.2-2'
					}}
					{{ (vm.gameState.typeMoney === DEBT ? 'CURRENCY.EURO' : 'CURRENCY.DU') | translate }}
				</div>
				<div class="sold-small">
					{{ vm.gameState.typeMoney === DEBT ? ('PLAYER.DEBT' | translate) + ':' : '' }}
					{{ vm.gameState.typeMoney === DEBT ? currentDebts(vm.credits) : (vm.coins | number: '1.2-2') }}
					{{ (vm.gameState.typeMoney === DEBT ? 'CURRENCY.EURO' : 'CURRENCY.JUNE') | translate }}
				</div>
			</div>
			<coin
				class="sold-2"
				[coinImage]="'./assets/images/' + vm.rules.typeMoney + '.png'"
				[height]="'2.5em'"
				[width]="'2.5em'"
				[forceRotate]="flipCoin"></coin>
		</div>
		<div class="marginArround avatar-wrap">
			<avatar
				[routerLink]="['/avatar', sessionId, avatarIdx]"
				[avatar]="vm.avatar"
				[width]="'4em'"
				[height]="'4em'"
				[namePosition]="'right'"
				[onlineStatus]="true"
				[connection]="playerConnection$ | async"></avatar>
		</div>
		<div class="btn-buy marginArround">
			<button
				class="styleBtn size-center box-shadowed z2"
				mat-raised-button
				color="primary"
				[disabled]="vm.gameState.status !== PLAYING || vm.playerStatus === DEAD"
				(click)="buyWith()">
				<div class="d-flex flex-row gap-1 align-items-center">
					<span class="styleBtn-label">{{ 'PLAYER.BUY' | translate }}</span>
					<fa-icon [icon]="faCreditCardAlt"></fa-icon>
				</div>
			</button>
		</div>
		<div class="btn-credit marginArround">
			<button
				[matBadge]="vm.credits.length"
				[matBadgeColor]="'warn'"
				[matBadgePosition]="isLandscape ? 'above before' : 'above after'"
				*ngIf="vm.gameState.typeMoney === DEBT && !panelCreditOpenState"
				class="styleBtn size box-shadowed z2"
				mat-icon-button
				[style.color]="'#117fd0'"
				color="primary"
				(click)="togglePanel('credit')">
				<fa-icon [icon]="faFileContract"></fa-icon>
			</button>
			<button
				[matBadge]="vm.credits.length"
				[matBadgeColor]="'warn'"
				[style.background-color]="'#117fd0'"
				[matBadgePosition]="isLandscape ? 'above before' : 'above after'"
				*ngIf="vm.gameState.typeMoney === DEBT && panelCreditOpenState"
				class="styleBtn size box-shadowed z2"
				mat-fab
				color="primary"
				(click)="togglePanel('credit')">
				<fa-icon [icon]="faFileContract"></fa-icon>
			</button>
		</div>
		<div class="btn-action marginArround">
			<button
				class="styleBtn size box-shadowed z2"
				mat-fab
				color="accent"
				[matBadge]="vm.actionTokens"
				matBadgeColor="warn"
				[matBadgePosition]="isLandscape ? 'below before' : 'above before'"
				(click)="openActionDialog(vm)">
				<mat-icon class="fs-2">bolt</mat-icon>
				<!-- <div class="d-flex flex-row justify-content-center align-items-center"> -->
				<!-- <div class="" [style.font-weight]="'bold'">
						{{ vm.actionTokens }}
					</div> -->
				<!-- </div> -->
			</button>
		</div>
		<div class="credits w-100 d-flex flex-row" [ngClass]="panelCreditOpenState ? 'panelOpen' : ''">
			<div
				[class.creditsLandscape]="isLandscape"
				class="d-flex flex-row overflow-auto w-100"
				*ngIf="panelCreditOpenState">
				<app-credit
					*ngFor="let credit of vm.credits"
					[small]="true"
					[duration]="vm.rules.durationCredit"
					[credit]="credit"
					(actionBtn)="creditActionBtn($event, credit)"></app-credit>
			</div>
		</div>

		<!-- Card area (scrollable, goes edge to edge, padding accounts for fixed chrome) -->
		<div class="card-area">
			<div *ngIf="vm.gameState.status !== PLAYING" class="w-100 text-center">
				<div class="text-center m-4 fs-1">⌛</div>
				<div class="text-center shadowed fs-1 m-3">
					{{
						vm.gameState.status !== STOPPED
							? ('PLAYER.WAITING' | translate)
							: ('PLAYER.GAME_OVER' | translate)
					}}
				</div>
				<button
					class="text-center ms-1"
					*ngIf="vm.gameState.status === STOPPED"
					[routerLink]="['/avatar', sessionId, avatarIdx]"
					mat-raised-button
					color="warn">
					{{ 'BACK_TO_LOBBY' | translate }}
				</button>
			</div>

			<ng-container *ngIf="vm.typeTheme === 'CARD'">
				<ng-container *ngFor="let card of cards$ | async; trackBy: trackByCard">
					<app-card
						@item
						*ngIf="card.displayed"
						[card]="card"
						[typeMoney]="vm.rules.typeMoney"
						[ownerIdx]="playerStateIdx"
						[gameStateId]="gameStateId"
						[suffixShortCode]="playerStateIdx?.toString()?.padStart(2, '0')"
						[currentDU]="vm.gameState.currentDU"
						[amountCardsForProd]="vm.rules.amountCardsForProd"
						(buildCardLvlUp)="produceLevelUp($event)"
						(shortCodeChanged)="onChangedShortCode($event)"
						[screenWidth]="screenWidth"
						[screenHeight]="screenHeight"></app-card>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="vm.typeTheme !== 'CARD'">
				<ng-container *ngFor="let card of cards$ | async; trackBy: trackByCard">
					<app-item
						@item
						[card]="card"
						[typeMoney]="vm.rules.typeMoney"
						[ownerIdx]="playerStateIdx"
						[gameStateId]="gameStateId"
						[typeTheme]="vm.typeTheme"
						[suffixShortCode]="playerStateIdx?.toString()?.padStart(2, '0')"
						[currentDU]="vm.gameState.currentDU"
						[allCards]="vm.cards"
						[amountCardsForProd]="vm.rules.amountCardsForProd"
						[generatedIdenticalLetters]="vm.rules.generatedIdenticalLetters"
						(shortCodeChanged)="onChangedShortCode($event)"
						[screenWidth]="screenWidth"
						[screenHeight]="screenHeight"></app-item>
				</ng-container>
			</ng-container>
		</div>
	</div>
</ng-container>
