.games{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date{
  font-size: small;
  color: gray;
}
.name{
  margin-left: 25px;
  color: #191919;
  font-weight: bold;
  font-size: large;
}
.items{
  height: 500px;
  overflow: auto;
}

.item {
  min-height: 72px;
  margin-bottom: 10px;
  &-date{
    height: 25px;
  }
  &-detail{
    height: 42px;
  }
}
.status{
  font-size: small;
  border-radius: 10px;
  color:#1D1D1D;
  padding: 2px 10px;
}

.statusOnGoing{
  background: #edbb00;
}

.statusOpen{
  background: #31c531;
}

.statusClosed{
  background: #ff6565;
}
