<div class="d-flex flex-column align-items-center">
	<h1 mat-dialog-title>Historique des parties crées</h1>
	<div class="items">
		<div class="item" *ngFor="let game of games">
			<div class="d-flex flex-row">
				<div class="d-flex flex-column">
					<div class="d-flex flex-row justify-content-between">
						<div class="name">• {{ game.name }}</div>
						<div class="status" [ngClass]="getStatusClass(game.status)">{{ getStatus(game.status) }}</div>
					</div>
					<div class="ms-2">
						<div>Créé le {{ game.created | date: "dd-MM-YYYY à HH:mm" }}</div>
						<div>
						<span class="fw-bold">👥 {{ game.playersCount }}</span> joueurs
							, type:
							<span class="fw-bold">{{ game.typeMoney === C.JUNE ? "monnaie libre " : "monnaie dette " }}
								<img *ngIf="game.typeMoney === C.DEBT" class="icon" [src]="'/assets/images/eurocoin.png'"/>
								<img *ngIf="game.typeMoney === C.JUNE" class="icon" [src]="'/assets/images/g1coin.png'"/>
							</span>
						</div>
						<div class="">
						</div>
						<div>Lieu: <span class="fw-bold">{{ game.location ? game.location : "-" }}</span>, Animateur: <span
							class="fw-bold"> {{ game.animator ? game.animator : "-" }}</span></div>
						<div class="d-flex flex-row">
						</div>
					</div>
				</div>
				<button class="ms-2" mat-raised-button
								[routerLink]="game.status === C.END_GAME ?['/game',game._id,'results']: ['/game',game._id,'master']"
								color="accent">
					{{ game.status === C.END_GAME ? "Voir les resultats" : "Voir" }}
				</button>
				<button *ngIf="deleteGames" class="ms-2" mat-raised-button color="warn">
					<fa-icon class="delete" (click)="onDeleteGame(game)"
									 [icon]="faTrashCan"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="text-center">
		<mat-slide-toggle
			class=""
			[color]="'warn'"
			[(ngModel)]="deleteGames">
			Supprimer une partie ?
		</mat-slide-toggle>
	</div>
	<div>
		Les parties de plus de 2 mois seront bientot automatiquement supprimées.
	</div>
	<div>
		(L'importation et l'exportation de parties seront aussi bientôt possibles).
	</div>

	<!--  GUNY  -->
	<div class="mt-1 col-md-12 text-center m-auto">
		<img class="guny" src="./assets/images/guny.png" alt="">
	</div>
</div>
