.wrapper {
  border-radius: 4px;
  background-color: #ccc;
  position: relative;
}

.background {
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4caf50;
  width: 100%;
  height: 100%;
}

.content {
  border-radius: 4px;
  position: relative;
}

.transparentButton {
  background-color: transparent;
}