<div class="blocked">
	<div class="prison" [@prisonDoor]="'in'">
		<audio autoplay>
			<source src="assets/audios/prison.mp3" type="audio/mpeg" />
		</audio>
		<div class="countDownContainer">
			<div class="time">
				<div class="minute shadowed">{{ minutesPrison | number: '2.0' }}</div>
				<div class="deuxpoints shadowed">:</div>
				<div class="seconds shadowed">{{ secondsPrison | number: '2.0' }}</div>
			</div>
			<mat-progress-spinner
				[color]="'warn'"
				[mode]="'determinate'"
				[diameter]="300"
				strokeWidth="20"
				[value]="prisonProgress"></mat-progress-spinner>
		</div>
	</div>
</div>
