<div class="pedago-dialog">
	<h1 mat-dialog-title>{{ "DIALOG.PEDAGO.TITLE" | translate }}</h1>
	<div mat-dialog-content>
		<div *ngIf="selection=='none'" class="">
			<mat-card class="card" (click)="selection='galile'">
				<mat-card-header>
					<mat-card-title-group>
						<mat-card-title>{{ "DIALOG.PEDAGO.GALILE_BTN"|translate }}</mat-card-title>
						<mat-card-subtitle>Medium</mat-card-subtitle>
						<img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
					</mat-card-title-group>
				</mat-card-header>
				<mat-card-content>
					some Text
				</mat-card-content>
			</mat-card>
			<mat-card class="card" (click)="selection='wealth'">
				<mat-card-header>
					<mat-card-title-group>
						<mat-card-title>{{ "DIALOG.PEDAGO.WEALTH_BTN"|translate }}</mat-card-title>
						<mat-card-subtitle>Medium</mat-card-subtitle>
						<img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
					</mat-card-title-group>
				</mat-card-header>
				<mat-card-content>
					some Text
				</mat-card-content>
			</mat-card>
		</div>
		<div *ngIf="selection=='galile'" class="">
			<app-module-galile></app-module-galile>
		</div>
		<div *ngIf="selection=='wealth'" class="">
			<app-module-wealth-distrib></app-module-wealth-distrib>
		</div>
	</div>
	<div mat-dialog-actions align="end">
		<button mat-button (click)="selection='none'">{{ "DIALOG.PEDAGO.SELECT"|translate }}</button>
		<button mat-button [mat-dialog-close]="">{{ "DIALOG.CLOSE"|translate }}</button>
	</div>
</div>
