<div class="settings w-100 h-100 p-4" [ngStyle]="getBackgroundStyle()">
	<app-language-btn [short]="true" [cornerScreen]="true"></app-language-btn>
	<div class="text-center">
		<mat-form-field appearance="fill">
			<mat-label>{{ "PLAYER.NAME" | translate }}</mat-label>
			<input matInput [disabled]="!!player.reincarnateFromId" [(ngModel)]="player.name">
		</mat-form-field>
	</div>
	<div [ngStyle]="{'border-color':hairColor}" class="svgContainer" #svgContainer></div>
	<p class="text-center">{{ "PLAYER.YOUR_AVATAR" | translate }}</p>
	<div class="d-flex mt-2 justify-content-evenly">
		<button (click)="close()" mat-raised-button color="accent">{{ "COMMON.CANCEL" | translate }}</button>
		<button (click)="randomize()" mat-raised-button color="warn">
			<fa-icon [icon]="faWandMagicSparkles"></fa-icon>
		</button>
		<button (click)="saveAndClose()" mat-raised-button color="primary">{{ "COMMON.SAVE" | translate }}</button>
	</div>
	<div class="items-wrap">
		<div class="items">
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.GAME_TABLE" | translate }}</div>
				<div class="d-flex flex-row">
					<mat-radio-group class="" [(ngModel)]="player.boardConf">
						<mat-radio-button value="wood">
							<img class="img-thumbnail imgSmall" src="assets/images/wood.png">
						</mat-radio-button>
						<mat-radio-button value="green">
							<img class="img-thumbnail imgSmall" src="assets/images/green.png">
						</mat-radio-button>
						<mat-radio-button value="custom">
							<ngx-colors class="color-box" [palette]="boardPalette" ngx-colors-trigger
													[(ngModel)]="player.boardColor"></ngx-colors>
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
			<div class="item">
				<div class="optionsLabel-withColor img-thumbnail">{{ "PLAYER_SETTINGS.SKIN" | translate }}</div>
				<ngx-colors class="" [palette]="skinPalette" ngx-colors-trigger (change)="changeSkin()"
										[(ngModel)]="skin"></ngx-colors>
			</div>
			<div class="item">
				<div class="optionsLabel-withColor img-thumbnail">{{ "PLAYER_SETTINGS.HAIR" | translate }}</div>
				<ngx-colors [palette]="hairPalette" class="" ngx-colors-trigger (change)="changeHairColor()"
										[(ngModel)]="hairColor"></ngx-colors>
				<button (click)="changeHair(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.hair + 1 }}/{{ properties.hair.default.length }}</div>
				<button (click)="changeHair(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.EYES" | translate }}</div>
				<button (click)="changeEyes(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.eyes + 1 }}/{{ properties.eyes.default.length }}</div>
				<button (click)="changeEyes(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.EYEBROWS" | translate }}</div>
				<button (click)="changeEyeBrows(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.eyebrows + 1 }}/{{ properties.eyebrows.default.length }}</div>
				<button (click)="changeEyeBrows(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.MOUTH" | translate }}</div>
				<button (click)="changeMouth(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.mouth + 1 }}/{{ properties.mouth.default.length }}</div>
				<button (click)="changeMouth(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.GLASSES" | translate }}</div>
				<button (click)="changeGlasses(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.glasses + 1 }}/{{ properties.glasses.default.length }}</div>
				<button (click)="changeGlasses(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.EARRINGS" | translate }}</div>
				<button (click)="changeEarrings(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.earrings + 1 }}/{{ properties.earrings.default.length }}</div>
				<button (click)="changeEarrings(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
			<div class="item">
				<div class="optionsLabel img-thumbnail">{{ "PLAYER_SETTINGS.FEATURES" | translate }}</div>
				<button (click)="changeFeature(false)" mat-mini-fab color="accent" aria-label="previous">
					<fa-icon [icon]="faChevronLeft"></fa-icon>
				</button>
				<div class="img-thumbnail m-2 optionsLabelNumber">{{ player.features + 1 }}/{{ properties.features.default.length }}</div>
				<button (click)="changeFeature(true)" mat-mini-fab color="accent" aria-label="next">
					<fa-icon [icon]="faChevronRight"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>
<app-version></app-version>
