.settings {
	border: dashed red 4px;
	overflow: auto;
	background-size: cover;
}

.svgContainer {
	width: 60%;
	max-width: 300px;
	margin: auto;
	padding: 0;
	border: solid black 4px;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 20px;
}

.imgSmall {
	height: 42px;
}

.optionsLabel {
	width: 160px;
	text-align: center;
	margin-right: 10px;

	&-withColor {
		width: 130px;
		text-align: center;
		margin-right: 10px;
	}

	&Number {
		width: 70px;
		text-align: center;
	}
}


.items {
	font-size: 20px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	width: 400px;

	&-wrap {
		display: flex;
		justify-content: center;
	}
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	//margin-bottom: 6px;
	flex-wrap: nowrap;
}

:host ::ng-deep .mdc-radio {
	display: none !important;
}
