/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'simple-keyboard/build/css/index.css';

body {
	margin: 0;
}

* {
	touch-action: manipulation;
}

body,
html {
	height: 100%;
	background: #ffd89b !important;
	// font-family: 'GecoFont5', 'Roboto', 'Helvetica', sans-serif !important;
}

.bulleFont {
	// font-family: 'GecoFont5', 'Roboto', sans-serif !important;
}

*:not(.bulleFont, .geconomicusFont) {
	font-family: 'GecoFont10', 'Roboto', 'Helvetica', sans-serif;
}

.geconomicusFont {
	font-family: 'Geconomicus', 'Roboto', sans-serif !important;
}

@font-face {
	font-family: 'Geconomicus';
	src: url('/assets/fonts/Retrow Mentho.woff2') format('woff2');
}

@font-face {
	font-family: 'GecoFont1';
	src: url('/assets/fonts/Rondouillard.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GecoFont1.2';
	src: url('/assets/fonts/Rondouillard Gras.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GecoFont2';
	src: url('/assets/fonts/Stanberry.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont3';
	src: url('/assets/fonts/HVD_Comic_Serif_Pro.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GecoFont4';
	src: url('/assets/fonts/Homer_Simpson_Revised.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont5';
	src: url('/assets/fonts/KRONIKA_.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont6';
	src: url('/assets/fonts/MulledWineSeason-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont7';
	src: url('/assets/fonts/ComicHelvetic_Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont8';
	src: url('/assets/fonts/ComickBook_Simple.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont9';
	src: url('/assets/fonts/Hey Comic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GecoFont10';
	src: url('/assets/fonts/BadComic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.guny {
	width: 300px;
}

.contour {
	color: white !important;
	font-weight: bold;

	text-shadow: //TOP
		0px -1.5px 0px black,
		//TOP RIGHT
		1.5px -1.5px 0px black,
		//RIGHT
		1.5px 0px 0px black,
		//BOTTOM
		0px 1.5px 0px black,
		//BOTTOM RIGHT
		1.5px 1.5px 0px black,
		//BOTTOM LEFT
		-1.5px 1.5px 0px black,
		//LEFT
		-1.5px 0px 0px black,
		//TOP LEFT
		-1.5px -1.5px 0px black;
}

.halo {
	filter: drop-shadow(0 0 0.75rem white);
}

.glow {
	animation: shadow-rotate 2s linear infinite;
	filter: drop-shadow(0px -2px 2px rgb(255, 230, 0)) drop-shadow(-2px 0px 2px rgba(255, 28, 141, 0.77))
		drop-shadow(0px 2px 2px rgba(149, 36, 255, 0.77)) drop-shadow(2px 0px 2px rgba(27, 31, 253, 0.77));
}

@keyframes shadow-rotate {
	0% {
		filter: drop-shadow(0px -2px 2px rgb(255, 230, 0)) drop-shadow(-2px 0px 2px rgba(255, 28, 141, 0.77))
			drop-shadow(0px 2px 2px rgba(149, 36, 255, 0.77)) drop-shadow(2px 0px 2px rgba(27, 31, 253, 0.77));
	}
	25% {
		filter: drop-shadow(2px 0px 2px rgb(255, 230, 0)) drop-shadow(0px -2px 2px rgba(255, 28, 141, 0.77))
			drop-shadow(-2px 0px 2px rgba(149, 36, 255, 0.77)) drop-shadow(0px 2px 2px rgba(27, 31, 253, 0.77));
	}
	50% {
		filter: drop-shadow(0px 2px 2px rgb(255, 230, 0)) drop-shadow(2px 0px 2px rgba(255, 28, 141, 0.77))
			drop-shadow(0px -2px 2px rgba(149, 36, 255, 0.77)) drop-shadow(-2px 0px 2px rgba(27, 31, 253, 0.77));
	}
	75% {
		filter: drop-shadow(-2px 0px 2px rgb(255, 230, 0)) drop-shadow(0px 2px 2px rgba(255, 28, 141, 0.77))
			drop-shadow(2px 0px 2px rgba(149, 36, 255, 0.77)) drop-shadow(0px -2px 2px rgba(27, 31, 253, 0.77));
	}
	100% {
		filter: drop-shadow(0px -2px 2px rgb(255, 230, 0)) drop-shadow(-2px 0px 2px rgba(255, 28, 141, 0.77))
			drop-shadow(0px 2px 2px rgba(149, 36, 255, 0.77)) drop-shadow(2px 0px 2px rgba(27, 31, 253, 0.77));
	}
}

.box-shadowed {
	box-shadow: (4px 4px 0px rgba(0, 0, 0, 1)) !important;
}

.shadowed {
	color: white;
	text-shadow: //TOP
		0px -1.5px 0px black,
		//TOP RIGHT
		1.5px -1.5px 0px black,
		//RIGHT
		1.5px 0px 0px black,
		//BOTTOM
		0px 1.5px 0px black,
		//BOTTOM RIGHT
		1.5px 1.5px 0px black,
		//BOTTOM LEFT
		-1.5px 1.5px 0px black,
		//LEFT
		-1.5px 0px 0px black,
		//TOP LEFT
		-1.5px -1.5px 0px black,
		//la trainé vers en bas à droite
		1px 1px 0px black,
		2px 2px 0px black,
		3px 3px 0px black,
		4px 4px 0px black,
		1px 1px 1px black,
		2px 2px 1px black,
		3px 3px 1px black,
		4px 4px 1px black;
}

.frame {
	border-radius: 10px;
	backdrop-filter: blur(10px);
	padding: 15px;

	&-light {
		border: 1px solid #dfdfdf;
		background-color: rgba(255, 255, 255, 0.4);
	}
	&-dark {
		border: solid 2px black !important;
		background: rgba(0, 0, 0, 0.1);
	}
}

.blur {
	backdrop-filter: blur(20px);
}

.white {
	color: rgb(230, 230, 230) !important;
}

.whiteBtn {
	border: solid 1px #e9e9e9aa !important;
	color: #e9e9e9 !important;
	background: #ffffff36 !important;
}

.blackBtn {
	border: solid 2px black !important;
	color: #000000 !important;
	background: #ffffff42 !important;
}

.contourText {
	color: white;
	text-shadow: //TOP
		0px -1.5px 0px black,
		//TOP RIGHT
		1.5px -1.5px 0px black,
		//RIGHT
		1.5px 0px 0px black,
		//BOTTOM
		0px 1.5px 0px black,
		//BOTTOM RIGHT
		1.5px 1.5px 0px black,
		//BOTTOM LEFT
		-1.5px 1.5px 0px black,
		//LEFT
		-1.5px 0px 0px black,
		//TOP LEFT
		-1.5px -1.5px 0px black;
}
.ombreText {
	text-shadow:
	//la trainé vers en bas à droite
		1px 1px 0px black,
		2px 2px 0px black,
		3px 3px 0px black,
		4px 4px 0px black,
		1px 1px 1px black,
		2px 2px 1px black,
		3px 3px 1px black,
		4px 4px 1px black;
}

.bgBlur {
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.3);
}

.divider {
	height: 1px;
	background-color: #e9e9e9;
	margin: 15px 0;
}

.mousePointer {
	cursor: pointer;
}

.bulleResult {
	background: #ffffff69;
	padding: 12px;
	border-radius: 200px;
	position: relative;
	width: fit-content;
	height: fit-content;
}

.bulleResult::after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	right: -16px;
	bottom: 37%;
	background: rgba(255, 255, 255, 0.4117647059);
	clip-path: polygon(100% 0%, 0 0, 0 100%);
}

.hg-button {
	font-weight: bold;
}

.hg-button-buy {
	background-color: green !important;
	color: white;
	/* Optional: Change text color for contrast */
}

.hg-button-cancel {
	background-color: red !important;
	color: white;
	/* Optional: Change text color for contrast */
}

.hg-button-bksp {
	background-color: orange !important;
	color: white;
	/* Optional: Change text color for contrast */
}

.notice {
	max-height: 600px;
	max-width: 400px;
	padding: 10px;
}

.icon {
	height: 20px;
	width: 20px;
	background-size: cover;
	cursor: pointer;
}

.red {
	background-color: #e8a7a6;

	.mat-badge-content {
		background: #ce1421;
	}
}

.yellow {
	background-color: #f3efad;

	.mat-badge-content {
		background: #c4bb13;
	}
}

.green {
	background-color: #a2cba2;

	.mat-badge-content {
		background: #14a549;
	}
}

.blue {
	background-color: #bbdae3;

	.mat-badge-content {
		background: #3c8fa2;
	}
}

/* emoji */
.emoji {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	vertical-align: -0.125em;
	font-size: 1em;
}

/* twemoji */
.twemoji {
	font-family:
		'Twemoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Noto Color Emoji',
		'EmojiOne Color', 'Android Emoji', sans-serif;
}


/* Target landscape mode */
@media only screen and (orientation: landscape) {
	.keyboard-dialog {
		transform: scale(0.85) !important;
	}

	.keyboard-dialog input {
		height: 57px !important;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1.5);
	}

	50% {
		transform: scale(2.5);
	}

	100% {
		transform: scale(1.5);
	}
}

.spinning {
    animation: spin 200ms ease-in-out infinite;
}

@keyframes spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
	// 100% {
	// 	transform: rotateY(0deg);
    // }
}


/* Fix for Material Icons - ensure correct font-family */
mat-icon.outlined {
	font-family: 'Material Symbols Outlined' !important;
	// font-family: 'Material Icons', 'Material Symbols Outlined' !important;
}

/* Fix for Material Icons Outlined - ensure correct font-family */
mat-icon.material-icons {
	font-family: 'Material Icons';
	// font-family: 'Material Icons', 'Material Symbols Outlined' !important;
}

mat-chip {
	cursor: pointer;

	mat-icon,
	span {
		pointer-events: none; // ✅ laisse passer les clics au chip parent
	}
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}


// .clouds {
// 	width: 100vw;
// 	height: 100vh;
// 	background-image: url('/assets/images/texture_cloud.svg');
// 	background-size: cover;
// }

.dots {
	position: relative; /* needed for pseudo-element */
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.dots::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url('/assets/images/texture.png');
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	opacity: 0.4;
	z-index: -1;
}

/* Override: dark version */
.dots-dark::before {
	opacity: 0.9;
}

/* Override: light version */
.dots-light::before {
	opacity: 0.25;
}

.debtBg {
    @extend .dots;
	background: -webkit-linear-gradient(250deg, #090152 0%, #19547b 35%, #ffd89b 100%); /* Chrome 10-25, Safari 5.1-6 */
}

.juneBg {
    @extend .dots;
	background: linear-gradient(315deg, #ffd89b 10%, #fc9088 35%, #090152 100%);
}

.riseSunyBg {
    @extend .dots;
	background: -webkit-linear-gradient(90deg, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
}

.bgWood {
    background-image: url('/assets/images/woodJapAlt.jpg');
}
.bgGreen {
	background-image: url('/assets/images/green-carpet.jpg');
}
.bgGradien1{
    @extend .dots;
	background: linear-gradient(109.6deg, rgba(83, 94, 161, 1) 44.5%, rgba(188, 14, 107, 1) 100.2%);
}
.bgGradien2{
    @extend .dots;
	background: linear-gradient(111.9deg, #19547b, #ffd89b);
}
.bgGradien3 {
    @extend .dots;
	background: linear-gradient(to bottom, #fddf62 0.000%, #fc9088 50.000%, #ff59d1 100.000%);
}
.bgGradien4 {
    @extend .dots;
    background: conic-gradient(from 11.1deg, rgba(0,40,70,1) -4.8%, rgba(255, 115, 115, 1) 82.7%, rgba(255, 175, 123, 1) 97.2%);
}
.bgGradien5 {
    @extend .dots;
	background: linear-gradient(111.9deg, rgba(255, 255, 169, 1) 0.2%, rgba(255, 208, 120, 1) 14.1%, rgba(255, 156, 94, 1) 27.4%, rgba(251, 99, 95, 1) 41.4%, rgba(226, 28, 114, 1) 55.8%, rgba(176, 0, 140, 1) 65.2%, rgba(83, 0, 166, 1) 88.1%);
}
.bgGradien6 {
    @extend .dots;
    background: linear-gradient(20.5deg, #ffd89b 0.000%, #fc9088 50.000%, #090152 100.000%);
}
.bgGradien7 {
    @extend .dots;
	background:
		radial-gradient(ellipse at 20% 30%, rgba(255, 100, 200, 0.6) 0%, transparent 50%),
		radial-gradient(ellipse at 80% 70%, rgba(100, 200, 255, 0.6) 0%, transparent 50%),
		radial-gradient(ellipse at 50% 90%, rgba(100, 255, 150, 0.5) 0%, transparent 40%),
		radial-gradient(ellipse at 100% 0%, rgba(255, 227, 100, 0.6) 0%, transparent 30%), #0a0a1a;
}
