<div class="confirmDialog m-2">
  <h1 mat-dialog-title>{{ title | translate }}</h1>
  <div mat-dialog-content>
    {{ message | translate }}
  </div>
  <div *ngIf="btn1Enable" class="d-flex justify-content-between">
    <button mat-button [mat-dialog-close]="'btn1'">{{ labelBtn1 | translate }}</button>
    <button *ngIf="!autoClickBtn2" mat-button [mat-dialog-close]="'btn2'">{{ labelBtn2 | translate }}</button>
    <button-timer *ngIf="autoClickBtn2" [secondsTimer]="timerBtn2" [label]="labelBtn2"
                              (timerEnd)="timerEnd()"></button-timer>
  </div>
  <div *ngIf="!btn1Enable" class="d-flex justify-content-end">
    <button *ngIf="!autoClickBtn2" mat-button [mat-dialog-close]="'btn2'">{{ labelBtn2 | translate }}</button>
    <button-timer *ngIf="autoClickBtn2" [secondsTimer]="timerBtn2" [label]="labelBtn2"
                              (timerEnd)="timerEnd()"></button-timer>
  </div>
</div>
