<div class="confirmDialog m-2">
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
    {{ message }}
  </div>
  <div class="d-flex justify-content-between">
    <button mat-button [mat-dialog-close]="'btn1'">{{ labelBtn1 }}</button>

    <button *ngIf="!autoClickBtn2" mat-button [mat-dialog-close]="'btn2'">{{ labelBtn2 }}</button>
    <app-btn-timer-auto-click *ngIf="autoClickBtn2" [secondsTimer]="timerBtn2" [label]="labelBtn2"
                              (timerEnd)="timerEnd()"></app-btn-timer-auto-click>
  </div>
</div>
