.wholeContainer {
  background-color: #ccc;
  border-radius: 4px;

}

.btnContainer {

}

.progress {
  position: relative;
  height: 100%;
  background-color: #4caf50;
}

.text2 {
  z-index: 2;
}

.progressContainer {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 100%;
}

