<div
	class="p-2 w-100 h-100 lobby d-flex flex-column overflow-auto"
	[ngStyle]="getBackgroundStyle(avatar.boardConf, avatar.boardColor)">
	<div class="m-4 shadowed text-center fs-1 glow" (click)="refresh()">
		{{ 'AVATAR.LOBBY' | translate }}
	</div>
	<div class="d-flex flex-row flex-wrap gap-4 justify-content-center">
		<div class="shadowed text-center fs-6" (click)="refresh()">
			{{ session.name }}
		</div>
		-
		<div class="shadowed text-center fs-6" (click)="refresh()">
			{{ 'AVATAR.ANIMATOR' | translate: { name: session.animator } }}
		</div>
	</div>
	<div class="mt-4 d-flex flex-row flex-wrap gap-4 justify-content-center">
		<div class="d-flex flex-column align-items-center avatar-item mousePointer" (click)="goToAvatarSettings()">
			<avatar [avatar]="avatar" [width]="'150px'" [height]="'150px'"></avatar>
			<div class="m-4 d-flex flex-row text-center">
				<div class="shadowed fs-3" (click)="refresh()">
					{{ avatar.name }}
				</div>
				<fa-icon [icon]="faPencil" class="ms-3 fs-4"></fa-icon>
			</div>
		</div>
		<div class="d-flex flex-row gap-1">
			<div class="d-flex flex-column align-items-center" *ngFor="let game of session.gamesRules">
				<coin
					[coinImage]="'./assets/images/' + game.typeMoney + '.png'"
					[label]="(game.typeMoney === C.JUNE ? 'FREE_MONEY' : 'DEBT_MONEY') | translate"></coin>
				<button *ngIf="game.gameStatus === C.OPEN" mat-button (click)="joinGame(game)">
					{{ 'AVATAR.PLAY' | translate }}
					<fa-icon [icon]="faRightToBracket"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>
