.lobby {
	width: 100%;
	height: var(--app-height);
}

.avatar-item {
	margin-top: 10px;
	height: 250px;
}

.geco {
	height: 40px;
	margin: 10px;
}
.avatarCode {
	font-size: 1.4em;
	letter-spacing: 0.1em;
}
