<ng-container *ngIf="vm$ | async as vm">
	<div
		class="p-2 w-100 h-100 lobby d-flex flex-column overflow-auto"
		[ngStyle]="getBackgroundStyle(vm.avatar?.boardConf, vm.avatar?.boardColor)">
		<div class="d-flex flex-row justify-content-between align-items-center m-2">
			<img class="geco glow" src="./assets/images/geconomicus.png" alt="" />
		</div>
		<div class="shadowed text-center fs-1 m-5" (click)="refresh()">
			{{ 'AVATAR.LOBBY' | translate }}
		</div>
		<div class="d-flex flex-row flex-wrap gap-4 justify-content-center">
			<div class="shadowed text-center fs-6" (click)="refresh()">
				{{ vm.session?.name }}
			</div>
			-
			<div class="shadowed text-center fs-6" (click)="refresh()">
				{{ 'AVATAR.ANIMATOR' | translate: { name: vm.session?.animator } }}
			</div>
		</div>
		<div class="mt-4 d-flex flex-row flex-wrap gap-4 justify-content-center">
			<div class="d-flex flex-column align-items-center avatar-item mousePointer" (click)="goToAvatarSettings()">
				<avatar [avatar]="vm.avatar" [width]="'150px'" [height]="'150px'"></avatar>
				<div class="m-4 d-flex flex-row text-center">
					<div class="shadowed fs-3" (click)="refresh()">
						{{ vm.avatar?.name }}
					</div>
					<fa-icon [icon]="faPencil" class="ms-3 fs-4"></fa-icon>
				</div>
			</div>
			<div class="d-flex flex-row gap-1">
				<div class="d-flex flex-column align-items-center" *ngFor="let game of vm.session?.gamesRules">
					<coin
						(click)="coinClick()"
						[coinImage]="'./assets/images/' + game.typeMoney + '.png'"
						[label]="(game.typeMoney === JUNE ? 'FREE_MONEY' : 'DEBT_MONEY') | translate"></coin>
					<button
						*ngIf="game.gameStatus !== GAME_STOPPED"
						[disabled]="game.gameStatus === GAME_NONE || game.gameStatus === undefined"
						class="m-2 box-shadowed"
						mat-raised-button
						color="primary"
						(click)="joinGame(game.gameStateId)">
						{{ 'AVATAR.PLAY' | translate }}
						<fa-icon [icon]="faRightToBracket"></fa-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</ng-container>
