<div class="w-100 h-100 d-flex flex-row">
  <div class="d-sm-none d-md-block events">
    <h1>Evenements</h1>
    <div class="event" *ngFor="let event of events">
      {{event.date | date:"HH:mm:ss"}}:
      <span [ngSwitch]="event.typeEvent">
        <span *ngSwitchCase="C.TRANSACTION">
          <span [matTooltip]="getPlayerName(event.emitter)">👤 </span>
          <span [matTooltip]="'Transaction'">{{event.amount}}Ğ1 ↔️ {{getTextCard(event.resources[0])}}</span>
          <span [matTooltip]="getPlayerName(event.receiver)"> 👤</span>
        </span>
        <span *ngSwitchCase="C.DISTRIB">
          <span [matTooltip]="'Distribution de cartes à '+getPlayerName(event.receiver)"> 👤⬅️</span>
          <span *ngFor="let card of event.resources">{{getTextCard(card)}}</span>
        </span>
        <span *ngSwitchCase="C.DISTRIB_DU">
          <span [matTooltip]="getPlayerName(event.receiver)"> 👤⬅️</span>
          <span [matTooltip]="'Dividende Universel'">➕️1DU ({{event.amount}}Ğ1)️</span>
        </span>
        <span *ngSwitchCase="C.FIRST_DU">
          <span [matTooltip]="'Calcul Dividende Universel de départ'">🧮Premier DU: {{event.amount}}Ğ1</span>
        </span>
        <span *ngSwitchCase="'first_DU'">
          <span [matTooltip]="'Calcul Dividende Universel de départ'">🧮Premier DU: {{event.amount}}Ğ1</span>
        </span>
        <span *ngSwitchCase="C.START_GAME">
          <span>🏁DEBUT du JEU</span>
        </span>
        <span *ngSwitchCase="C.STOP_GAME">
          <span>🏁FIN du JEU</span>
        </span>
        <span *ngSwitchCase="C.START_ROUND">
          <span>🟢DEBUT du TOUR {{event.amount}}</span>
        </span>
        <span *ngSwitchCase="C.STOP_ROUND">
          <span>🛑FIN du TOUR {{event.amount}}</span>
        </span>
        <span *ngSwitchCase="C.DEAD">
          <span [matTooltip]="'Mort de '+getPlayerName(event.receiver)"> 👤🪦</span>
        </span>
        <span *ngSwitchCase="C.REMIND_DEAD">
          <span [matTooltip]="'Mort de '+getPlayerName(event.receiver)"> 👤🪦for graph</span>
        </span>
        <span *ngSwitchCase="C.BIRTH">
          <span [matTooltip]="'Naissance de '+getPlayerName(event.receiver)"> 👤👶 {{event.amount}}Ğ1-</span>
          <span *ngFor="let card of event.resources">{{getTextCard(card)}}</span>
        </span>
        <span *ngSwitchCase="C.TRANSFORM_DISCARDS" class="">
          <span [matTooltip]="getPlayerName(event.emitter)"> 👤</span>
          <span [matTooltip]="'Défausse du carré de cartes identique'">➡️🔄</span>
          <span *ngFor="let card of event.resources">{{getTextCard(card)}}</span>
        </span>
        <span *ngSwitchCase="'transformDiscard'" class="">
          <span [matTooltip]="getPlayerName(event.emitter)"> 👤</span>
          <span [matTooltip]="'Défausse du carré de cartes identique'">➡️🔄</span>
          <span *ngFor="let card of event.resources">{{getTextCard(card)}}</span>
        </span>
        <span *ngSwitchCase="C.TRANSFORM_NEWCARDS" class="">
          <span [matTooltip]="getPlayerName(event.receiver)"> 👤</span>
          <span [matTooltip]="'Transformation du carré'">⬅️🎁</span>
          <span *ngFor="let card of event.resources">{{getTextCard(card)}}</span>
        </span>
        <span *ngSwitchCase="'tranformNewCards'" class="">
          <span [matTooltip]="getPlayerName(event.receiver)"> 👤</span>
          <span [matTooltip]="'Transformation du carré'">⬅️🎁</span>
          <span *ngFor="let card of event.resources">{{getTextCard(card)}}</span>
        </span>
        <span *ngSwitchDefault>{{event.typeEvent}}</span>
      </span>
    </div>
  </div>
  <div class="flex-grow-1 d-flex flex-column overflow-auto h-100 p-2">
    <h1 class="m-2">Comptes en quantitatif</h1>
    <div class="graph">
      <canvas baseChart
              class="chart"
              height="100"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [type]="lineChartType">
      </canvas>
    </div>
    <h1 class="m-2">Comptes en relatif (Ğ1 rapporté au DU de l'instant)</h1>
    <div class="graph">
      <canvas baseChart
              class="chart"
              height="100"
              [data]="lineChartDataRelatif"
              [options]="lineChartOptionsRelatif"
              [type]="lineChartTypeRelatif">
      </canvas>
    </div>
    <h1 class="m-2">Ressources</h1>
    <div class="graph">
      <canvas baseChart
              class="chart"
              height="100"
              [data]="lineChartDataResources"
              [options]="lineChartOptionsResources"
              [type]="lineChartTypeResources">
      </canvas>
    </div>
    <div class="d-sm-block d-md-none eventsSmall">
      <div class="event" *ngFor="let event of events">
        {{event.date | date:"HH:mm:ss"}}: {{event.typeEvent + " " + event.amount}}
      </div>
    </div>
  </div>
</div>
