.dialog {
	width: 300px;

	input {
		width: 100%;
		height: 100px;
		padding: 20px;
		font-size: 30px;
		border: none;
		box-sizing: border-box;
		text-align: center;
		color: #00da00;
		background-color: #181818;
	}
}
