<div class="join sunyBg h-100">
  <h1 mat-dialog-title class="shadowed gecoFont">Rejoindre la partie !</h1>
  <div mat-dialog-content>
    <p>Votre petit nom ?</p>
    <mat-form-field appearance="fill">
      <input matInput [disabled]="!!fromId" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="fromId" mat-raised-button color="primary" (click)="joinReincarnate()">Ğo pour ma nouvelle vie!</button>
<!--    <button *ngIf="fromId==='false'" mat-raised-button color="primary" (click)="joinInGame()">Ğo !</button>-->
    <button *ngIf="fromId===undefined" mat-raised-button color="primary" (click)="join()">Ğo !</button>
  </div>
  <div *ngIf="fromId" class="mt-4 text-center gecoFont bulle">Hey ! Tu as été réincarné ! </div>
<!--  <div *ngIf="fromId==='false'" class="mt-4 text-center bulle gecoFont ">Hey ! La parti à déjà commencé. Bon courage.</div>-->
  <div *ngIf="fromId===undefined" class="mt-4 text-center bulle gecoFont">Hey ! J'm’appelle Ğuny.</div>
  <!--  GUNY  -->
  <div class="mt-1 col-md-12 text-center m-auto">
    <img class="guny" src="./assets/images/guny.png" alt="">
  </div>
</div>
