<div class="join sunyBg h-100">
	<h1 class="shadowed geconomicusFont">{{ 'JOIN.TITLE' | translate }}</h1>
	<!--  GUNY  -->
	<div class="mt-4">
		<bulle [pointer]="true" [contents]="['JOIN.GUNY_INTRO', 'JOIN.GUNY_INTRO2']"></bulle>
	</div>
	<div class="mt-1 col-md-12 text-center">
		<img class="guny" src="./assets/images/guny.png" alt="" />
	</div>
	<div>
		<mat-form-field appearance="fill">
			<mat-label>{{ 'JOIN.NAME_PROMPT' | translate }}</mat-label>
			<input matInput required [(ngModel)]="name" (keydown.enter)="join()" />
		</mat-form-field>
	</div>
	<button mat-raised-button color="primary" [disabled]="!name" (click)="join()">
		{{ 'JOIN.GO_BUTTON' | translate }}
	</button>
</div>
