<div class="join-short m-2">
	<h1 mat-dialog-title>{{ 'DIALOG_JOIN_SHORT_CODE.SHORT_ID_TITLE' | translate }}</h1>
	<div mat-dialog-content>
		<div class="d-flex flex-column align-items-center">
			<div class="mb-2">{{ 'DIALOG_JOIN_SHORT_CODE.SHORT_ID_DESC' | translate }}</div>
			<mat-form-field class="inputShort">
				<mat-label>Ex: 0042 / 0042-7</mat-label>
				<input matInput type="text" required readonly [(ngModel)]="code" (keyup.enter)="submit()" />
				<button *ngIf="code" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
					<fa-icon [icon]="faXmark"></fa-icon>
				</button>
			</mat-form-field>
			<div class="codeError" *ngIf="error">{{ error | translate }}</div>
		</div>
		<div class="simple-keyboard"></div>
	</div>
	<div mat-dialog-actions class="d-flex justify-content-between">
		<button mat-button [mat-dialog-close]="">{{ 'CANCEL' | translate }}</button>
		<button mat-raised-button color="primary" [disabled]="!canSubmit" (click)="submit()">
			{{ 'DIALOG_JOIN_SHORT_CODE.SEARCH' | translate }}
		</button>
	</div>
</div>
