<div class="p-3 bank" *ngIf="game.typeMoney===C.DEBT">
	<h1 class="d-flex justify-content-center">
		<fa-icon class="m-2 icon" [icon]="faLandMark"></fa-icon>
		<div class="m-2 fs-4 shadowed gecoFont">{{ "BANK.TITLE"|translate }}</div>
		<fa-icon class="m-2 icon" [icon]="faLandMark"></fa-icon>
	</h1>
	<app-language-btn [cornerScreen]="true" [short]="true"></app-language-btn>
	<div class="d-flex flex-row">
		<div class="w-50">
			<h2 class="fs-4 shadowed gecoFont">{{ "BANK.SUB_TITLE_IND" | translate }}</h2>
			<div>
				{{ "BANK.MASS_MONEY"| translate }} :
				<mat-chip>
					{{ game.currentMassMonetary }}
				</mat-chip>
			</div>
			<div>
				{{ "BANK.AVG_PLAYERS" | translate }} :
				<mat-chip [ngClass]="getAverageCurrency() < 2 ? 'warning':'good'">
					<b>{{ getAverageCurrency() | number : '1.2-2' }} </b>
					<fa-icon mat-raised-button [icon]="faCircleInfo"
									 [matTooltip]="'BANK.AVG_NOTICE' | translate">
					</fa-icon>
				</mat-chip>
			</div>
			<div>
				{{ "BANK.CURRENT_DEBT" | translate }} :
				<mat-chip>
					{{ getDebts() }}
				</mat-chip>
			</div>
			<div>
				{{ "BANK.INTEREST_GAIN" | translate }} :
				<mat-chip>
					{{ game.bankInterestEarned }}
				</mat-chip>
			</div>
			<div>
				{{ "BANK.RESSOURCES_GAIN" | translate }} :
				<mat-chip>
					{{ game.bankGoodsEarned }}
				</mat-chip>
			</div>
		</div>
		<div class="w-50">
			<div class="d-flex flex-row justify-content-between align-items-center">
				<h2 class="fs-4 shadowed gecoFont">Prison</h2>
				<mat-slide-toggle
					[color]="'warn'"
					[(ngModel)]="iWantToBreakFree">
					{{ "BANK.ASK_FREE"|translate }}
				</mat-slide-toggle>
			</div>
			<div class="prison">
				<div *ngFor="let prisoner of prisoners">
					<div class="player m-2 d-flex flex-column justify-content-center">
						<div class="breakfree" (click)="breakFree(prisoner._id)" *ngIf="iWantToBreakFree">
							🆓
						</div>
						<div class="player-frame player-svg"
								 [ngStyle]="{'border-color':'#'+prisoner.hairColor}"
								 [innerHTML]="getSanitizedSvgFromString(prisoner.image)">
						</div>
						<div class="gecoFont shadowed"> {{ prisoner.name }}</div>
						<div class="progress m-2" role="progressbar" aria-label="" aria-valuenow="10" aria-valuemin="0"
								 aria-valuemax="100">
							<div class="progress-bar overflow-visible progress-bar-striped progress-bar-animated"
									 [style.width.%]="prisoner.progressPrison"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-5 d-flex align-items-baseline flex-wrap">
		<h2 class="fs-4 shadowed gecoFont">{{ "BANK.SUB_TITLE_CREDITS"|translate }}</h2>
		<app-notice-btn class="ms-2" [stroked]="true"></app-notice-btn>
		<button class="ms-2" mat-raised-button color="accent" [disabled]="game.status === C.END_GAME"
						(click)="showContract()"> {{ "BANK.GIVE_CREDIT"|translate }}
			<fa-icon [icon]="faSackDollar"></fa-icon>
		</button>
		<div class="ms-2">
			{{ "BANK.SOLUTION"|translate }}
		</div>
	</div>
	<div class="d-inline-flex" *ngFor="let credit of game.credits">
		<app-credit [interestMinutes]="game.timerCredit" [credit]="credit" [bankOption]=true
								[contractor]="getPlayerName(credit.idPlayer)"
								(actionBtn)="actionBtn($event,credit)"></app-credit>
	</div>
</div>
<div *ngIf="game.typeMoney===C.JUNE">{{ "BANK.NO_BANK_FREE_MONEY"|translate }}</div>
