.bank {

}

.icon {
  color: black;
}

/* Set custom color for MatChip */
.warning {
  background-color: #ff706e !important; /* Your custom color code */
}

.good {
  background-color: #A2CBA2 !important;
}
