.board{
  background: #ffd89b;
}
.geco{
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.templateQrCode {
  margin: auto;
  text-align: center;
  background-image: url("/assets/templateJoinQrCode.svg");
  background-size: cover;
  width: 400px;
  height: 400px;
}

.guny {
  width: 300px;
  border-radius: 90px;
}

.svg {
  left: 6px;
  top: 76px;
  position: relative;
}

.partyLeft {
  padding: 10px;

  .text {
    height: 20px;
  }
}

.qrcodeImage {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 86px;
  padding-left: 13px;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.innerQr {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.input {
  width: 135px;
}

.imgText {
  width: 150px;
}

.itemRight {
  justify-content: start;
}

.itemLeft {
  justify-content: end;
}

.countDownContainer {
  width: 320px;
  height: 320px;
  margin: 10px;

  .time {
    font-size: 65px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 47%;
  }

  .spinner {
    width: 100%;
    height: 100%;
  }
}

.deuxpoints {
  line-height: 10px;
}

.imgCardValeur {
  height: 50px;
  border-radius: 4px;
}

.player {
  margin: 5px;
  justify-content: space-between;

  &-frame {
    background: white;
  }
  &-action {
    height: 20px;
  }

  &-svg {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    border: solid black 2px;
  }

  &-svgSmall {
    width: 70px;
    height: 70px;
    border-radius: 80px;
    border: solid black 2px;
  }

  .joinQr {
    margin-left: 5px;
  }

  .delete {
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 10;
    color: #f44336;
  }
}

.backgroundPlayers {
  padding: 5px;
  //background: #D7D7D7;
  overflow: auto;
  height: 100%;
  min-height: 400px;
  background: -webkit-linear-gradient(to top, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  &-Small {
    padding: 5px;
    //background: #D7D7D7;
    max-height: 350px;
    background: -webkit-linear-gradient(to top, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}

.dead{
  position: relative;
  left: 56%;
  top: 15%;
  font-size: 30px;
}

.deadprompt{
  position:relative;
  cursor:pointer ;
  left:15%;
  top:43%;
  font-size: 50px;
}
