<div class="d-flex flex-column h-100">
	<div class="d-flex flex-row justify-content-between">
		<img class="geco" src="./assets/images/geconomicus.png" alt="">
		<div class="d-flex flex-row align-items-center">
			<app-notice-btn [stroked]="true"></app-notice-btn>
			<app-language-btn [short]="true"></app-language-btn>
		</div>
	</div>
	<div class="fs-1 text-center pt-4 pb-4 shadowed gecoFont" *ngIf="game && game.status==='open'">
		{{ "MASTER.JOIN"| translate: {name: game.name} }}
	</div>
	<div class="text text-center" *ngIf="game && game.status==='open'">
		{{ "MASTER.SCAN_QR" | translate: {webHost: environment.WEB_HOST} }}
	</div>
	<div class="fs-1 text-center pt-4 pb-4 text-capitalize gecoFont shadowed"
			 *ngIf="game && game.status!=='open'">{{ game.name }}
	</div>
	<div class="row g-0" *ngIf="game && game.status==='open'">
		<!-- QR CODE    -->
		<div class="col-md-12 col-lg-4">
			<div class="templateQrCode">
				<div class="qrcodeImage">
					<ngx-kjua
						[size]="230"
						[text]="data"
					></ngx-kjua>
				</div>
			</div>
		</div>
		<!--  GUNY  -->
		<div class="col-md-12 col-lg-4 text-center m-auto">
			<div class="mt-4 text-center bulle gecoFont bienvenue">{{ "MASTER.GUNY_WELCOME"| translate }}</div>
			<img class="guny" src="./assets/images/guny.png" alt="">
		</div>
		<!--  OPTIONS  -->
		<div class="col-md-12 col-lg-4 text-center m-auto">
			<div class="gecoFont shadowed">{{ "ANIMATOR"| translate }}: {{ game.animator }}</div>
			<div class="">
				<mat-form-field class="justify-content-center" appearance="fill">
					<mat-label>{{ "MASTER.TYPE_OF_MONEY"| translate }}</mat-label>
					<mat-select (selectionChange)="onMoneyChange($event)" [(value)]="game.typeMoney">
						<mat-option [value]="option.value" [disabled]="option.isDisabled"
												*ngFor="let option of options">{{ option.label | translate }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="">
				<div class="d-flex flex-row justify-content-center align-items-center">
					<img class="imgCardValeur" src="assets/images/level1.png">
					<div class="imgText d-flex justify-content-between ps-1">{{ "CARD.LV1"|translate }}:
						<div class="fw-bold">{{ game.priceWeight1 }}{{ game.typeMoney === C.JUNE ? " DU" : "" }}</div>
					</div>
				</div>
				<div class=" d-flex flex-row justify-content-center align-items-center">
					<img class="imgCardValeur" src="assets/images/level2.png">
					<div class="imgText d-flex justify-content-between ps-1">{{ "CARD.LV2"|translate }}:
						<div class="fw-bold">{{ game.priceWeight2 }}{{ game.typeMoney === C.JUNE ? " DU" : "" }}</div>
					</div>
				</div>
				<div class="d-flex flex-row justify-content-center align-items-center">
					<img class="imgCardValeur" src="assets/images/level3.png">
					<div class="imgText d-flex justify-content-between ps-1">{{ "CARD.LV3"|translate }}:
						<div class="fw-bold">{{ game.priceWeight3 }}{{ game.typeMoney === C.JUNE ? " DU" : "" }}</div>
					</div>
				</div>
				<div class="d-flex flex-row justify-content-center align-items-center">
					<img class="imgCardValeur" src="assets/images/level4.png">
					<div class="imgText d-flex justify-content-between ps-1">{{ "CARD.LV4"|translate }}:
						<div class="fw-bold">{{ game.priceWeight4 }}{{ game.typeMoney === C.JUNE ? " DU" : "" }}</div>
					</div>
				</div>
			</div>
			<div class="d-flex flex-row justify-content-center align-items-center m-4">
				<button class="ms-2" mat-raised-button (click)="showOptions()">{{ "MASTER.GAME_OPTION"|translate }}
					<fa-icon [icon]="faCogs"></fa-icon>
				</button>
			</div>
			<div class="d-flex flex-row justify-content-center">
				<button class="ms-2" mat-raised-button color="warn" *ngIf="game.devMode"
								(click)="startGame()">
					{{ "MASTER.START" | translate }}
					<fa-icon [icon]="faFlagCheckered"></fa-icon>
				</button>
				<button class="ms-2" mat-raised-button color="warn" *ngIf="!game.devMode"
								[disabled]="game.players.length < 6"
								(click)="startGame()">
					{{
						game.players.length < 6
							? ("MASTER.WAITING" | translate: {count: 6 - game.players.length})
							: ("MASTER.START" | translate)
					}}
					<fa-icon [icon]="faFlagCheckered"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="container h-100" *ngIf="game && game.status!==C.OPEN">
		<div class="fs-1 text-center pt-4 pb-4"
				 *ngIf="game && game.roundMax>1">{{ "MASTER.ROUND"|translate }} {{ game.round }}
			/ {{ game.roundMax }}
		</div>
		<div class="d-flex align-items-center justify-content-evenly flex-row">
			<div class="d-flex flex-column">
				<video class="videoCard" #videoPlayerLT (click)="videoPlayerLT.play()" playsinline autoplay muted>
					<source src="assets/videos/panier.mp4" type="video/mp4">
				</video>
				<video class="videoCard" #videoPlayerL (click)="videoPlayerL.play()" playsinline autoplay muted>
					<source src="assets/videos/bike.mp4" type="video/mp4">
				</video>
			</div>
			<div class="countDownContainer">
				<div class="time">
					<div class="minute shadowed">{{ minutes }}</div>
					<div class="deuxpoints shadowed">:</div>
					<div class="seconds shadowed">{{ seconds }}</div>
				</div>
				<mat-progress-spinner
					[color]="'primary'"
					[mode]="'determinate'"
					[diameter]="300"
					strokeWidth="10"
					[value]="timerProgress">
				</mat-progress-spinner>
			</div>
			<div class="d-flex flex-column">
				<video class="videoCard" #videoPlayerRT playsinline (click)="videoPlayerRT.play()" autoplay muted>
					<source src="assets/videos/owl.mp4" type="video/mp4">
				</video>
				<video class="videoCard" #videoPlayerR playsinline (click)="videoPlayerR.play()" autoplay muted>
					<source src="assets/videos/sun.mp4" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="d-flex mt-5 justify-content-center">
			<button *ngIf="!((game.status===C.STOP_ROUND && game.round>=game.roundMax) || game.status==C.END_GAME)"
							class="ms-2" mat-stroked-button color="primary"
							(click)="showEvents()">{{ "MASTER.LIVE_EVENT_BTN"|translate }} 🔴📈
			</button>
			<button *ngIf="game.devMode" class="ms-2" mat-stroked-button (click)="resetGameFromBtn()">
				{{ "MASTER.RESET"|translate }}
				<fa-icon [icon]="faWarning"></fa-icon>
			</button>
			<button *ngIf="game.status===C.START_GAME || game.status==C.INTER_ROUND"
							class="ms-2" mat-raised-button
							color="warn"
							(click)="startRound()">{{ "MASTER.START_ROUND"|translate }}
			</button>
			<button *ngIf="game.status===C.STOP_ROUND && game.round<game.roundMax" class="ms-2" mat-raised-button
							color="accent"
							(click)="doIntertour()">{{ "MASTER.NEXT_ROUND"|translate }}
			</button>
			<button *ngIf="game.status===C.PLAYING" mat-raised-button color="warn" class="ms-2"
							(click)="stopRoundForce()">
				{{ "MASTER.STOP"|translate }}
			</button>
			<button *ngIf="game.status===C.STOP_ROUND && game.round>=game.roundMax" class="ms-2" mat-raised-button
							color="accent"
							(click)="finishGame()">{{ "MASTER.SEND_SURVEY"|translate }}
			</button>
			<button *ngIf="game.status===C.END_GAME && game.round>=game.roundMax" class="ms-2" mat-raised-button
							color="accent"
							(click)="goToResults()">{{ "MASTER.SHOW_RESULTS"|translate }}
			</button>
		</div>
		<div class="d-flex mt-4 align-items-center flex-column" *ngIf="game.typeMoney===C.DEBT">
			<div class="d-flex flex-row align-items-center">
				<button class="m-2" mat-raised-button
								color="accent"
								(click)="showBank()">{{ "MASTER.BANK_BTN"|translate }}
					<fa-icon [icon]="faBuildingColumns"></fa-icon>
				</button>
				<fa-icon class="joinQr" (click)="qrCodeBank()" [icon]="faQrcode"></fa-icon>
			</div>
		</div>
	</div>
	<div class="text-center" *ngIf="game && game.status===C.OPEN">
		<h2 class="fs-3 shadowed gecoFont">{{ "MASTER.USERS_CONNECTED"|translate }}</h2>
		<mat-slide-toggle
			class=""
			[color]="'warn'"
			[(ngModel)]="deleteUser">
			{{ "MASTER.DELETE_USER" |translate }}
		</mat-slide-toggle>
	</div>
	<div class="text-center" *ngIf="game && game.status!==C.OPEN">
		<h2 class="fs-3 gecoFont shadowed">{{ "MASTER.PLAYERS"|translate }}</h2>
		<mat-slide-toggle *ngIf="!game.autoDeath || game.devMode"
											class=""
											[color]="'warn'"
											[(ngModel)]="killUser">
			{{ "MASTER.KILL_USERS"|translate }} ☠️
		</mat-slide-toggle>
	</div>
	<div class="p-3 sunyBg" [ngClass]="game.status === C.OPEN ?'backgroundPlayers':'backgroundPlayers-Small'">
		<div class="d-flex flex-row justify-content-center flex-wrap">
			<div *ngFor="let player of game?.players"
					 class="player d-flex flex-column">
				<div class="d-flex flex-row justify-content-center player-action">
					<a href="{{getUserUrl(player._id)}}" target="_blank">{{ player.name }} </a>
					<fa-icon class="joinQr" (click)="reJoin(player._id, player.name)" [icon]="faQrcode"></fa-icon>
					<fa-icon *ngIf="deleteUser" class="delete" (click)="onDeleteUser(player)"
									 [icon]="faTrashCan"></fa-icon>
				</div>
				<div class="dead" *ngIf="player.status==='dead'">
					🪦
				</div>
				<div class="deadprompt" *ngIf="killUser && player.status==='alive'" (click)="onKillUser(player)">
					☠️
				</div>
				<div class="player-frame" [ngClass]="game && game.status==='open'?'player-svg':'player-svgSmall'"
						 [ngStyle]="{'border-color':'#'+player.hairColor}"
						 [innerHTML]="getSanitizedSvgFromString(player.image)">
				</div>
			</div>
		</div>
	</div>
</div>
