<div class="d-flex flex-column h-100">
  <div class="fs-1 text-center pt-4 pb-4" *ngIf="game && game.status==='open'">Rejoindre la partie: {{game.name}}</div>
  <div class="fs-1 text-center pt-4 pb-4" *ngIf="game && game.status!=='open'">Partie: {{game.name}}</div>
  <div class="row g-0" *ngIf="game && game.status==='open'">
    <!-- QR CODE    -->
    <div class="col-md-12 col-lg-4">
      <div class="text text-center">scanner le QrCode ou via {{environment.WEB_HOST}} et cliquer sur "rejoindre"</div>
      <div class="templateQrCode">
        <div class="qrcodeImage">
          <qrcode
            [qrdata]="data"
            [allowEmptyString]="true"
            [cssClass]="'innerQr'"
            [colorDark]="'#000000'"
            [colorLight]="'#ffffff'"
            [elementType]="'url'"
            [errorCorrectionLevel]="'M'"
            [margin]="1"
            [scale]="1"
            [width]="230"
          ></qrcode>
        </div>
      </div>
    </div>
    <!--  GUNY  -->
    <div class="col-md-12 col-lg-4 text-center m-auto">
      <img class="guny" src="./assets/Guny.png" alt="">
    </div>
    <!--  OPTIONS  -->
    <div class="col-md-12 col-lg-4 text-center m-auto">
      <div class="">
        <mat-form-field class="justify-content-center" appearance="fill">
          <mat-label>Type de monnaie</mat-label>
          <mat-select [(value)]="game.typeMoney">
            <mat-option [value]="option.value" [disabled]="option.isDisabled"
                        *ngFor="let option of options">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <img class="imgCardValeur" src="assets/level1.png">
        <div class="imgText">Alimentation : {{game.priceWeight1}} DU</div>
      </div>
      <div class=" d-flex flex-row justify-content-center align-items-center">
        <img class="imgCardValeur" src="assets/level2.png">
        <div class="imgText">Culture et savoir : {{game.priceWeight2}} DU</div>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <img class="imgCardValeur" src="assets/level3.png">
        <div class="imgText">Energie : {{game.priceWeight3}} DU</div>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <img class="imgCardValeur" src="assets/level4.png">
        <div class="imgText">Technologie : {{game.priceWeight4}} DU</div>
      </div>
      <button class="text-center mb-4 mt-4 ms-4" mat-raised-button (click)="showOptions()">Options de Jeu
        <fa-icon [icon]="faCogs"></fa-icon>
      </button>
      <button class="text-center mb-4 mt-4 ms-4" mat-raised-button (click)="showRules()">Regles de Jeu
        <fa-icon [icon]="faInfo"></fa-icon>
      </button>
      <div class="row g-0 justify-content-center">
        <button class="col-sm-4 ms-4" mat-raised-button color="warn"
                (click)="startGame()">
          Démarrer
          <fa-icon [icon]="faFlagCheckered"></fa-icon>
        </button>
        <button class="col-sm-4 ms-4" mat-raised-button color="" (click)="resetGame()">RESET GAME
          <fa-icon [icon]="faFlagCheckered"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container h-100" *ngIf="game && game.status!==C.OPEN">
    <div class="fs-1 text-center pt-5 pb-5" *ngIf="game && game.roundMax>1">tour {{game.round}}
      / {{game.roundMax}}</div>
    <div class="row justify-content-center">
      <div class="countDownContainer">
        <div class="time">
          <div class="minute">{{minutes}}</div>
          <div class="deuxpoints">:</div>
          <div class="seconds">{{seconds}}</div>
        </div>
        <mat-progress-spinner
          class="spinner"
          [color]="'primary'"
          [mode]="'determinate'"
          [diameter]="290"
          strokeWidth="10"
          [value]="timerProgress">
        </mat-progress-spinner>
      </div>
    </div>
    <div class="d-flex mt-5 justify-content-center">
      <button *ngIf="!((game.status==C.STOP_ROUND && game.round>=game.roundMax) || game.status==C.END_GAME)"
              class="col-sm-1 ms-2" mat-raised-button color="primary" (click)="showEvents()">events
        <fa-icon [icon]="faPeopleArrows"></fa-icon>
      </button>
      <button class="col-sm-1 ms-2" mat-raised-button color="" (click)="resetGame()">RESET GAME
        <fa-icon [icon]="faFlagCheckered"></fa-icon>
      </button>
      <button *ngIf="game.status==C.START_GAME || game.status==C.INTER_ROUND"
              class="ms-2" mat-raised-button
              color="warn"
              (click)="startRound()">Commencer le tour
      </button>
      <button *ngIf="game.status==C.STOP_ROUND && game.round<game.roundMax" class="ms-2" mat-raised-button
              color="accent"
              (click)="doIntertour()">Tour suivant
      </button>
      <button *ngIf="game.status==C.STOP_ROUND && game.round>=game.roundMax" class="ms-2" mat-raised-button
              color="accent"
              (click)="finishGame()">Terminier le jeu, afficher les resultats
      </button>
      <button *ngIf="game.status==C.START_ROUND" mat-raised-button color="warn" class="ms-2" (click)="stopRoundForce()">
        Stop
      </button>
      <button *ngIf="game.status==C.END_GAME && game.round>=game.roundMax" class="ms-2" mat-raised-button color="accent"
              (click)="goToResults()">Jeu terminé, afficher les resultats
      </button>
    </div>
  </div>
  <div class="w-100" *ngIf="game && game.status===C.OPEN">
    <div class="text-center">
      <h2 class="fs-3 ">Joueurs connectés</h2>
      <section class="">
        <mat-slide-toggle
          class=""
          [color]="'warn'"
          [(ngModel)]="deleteUser">
          Supprimer un joueur ?
        </mat-slide-toggle>
      </section>
    </div>
  </div>
  <div class="w-100" *ngIf="game && game.status!=='open'">
    <div class="text-center">
      <h2 class="fs-3 ">Joueurs</h2>
      <section class="">
        <mat-slide-toggle
          class=""
          [color]="'warn'"
          [(ngModel)]="killUser">
          faire passer la mort ? 😈☠️⚰️🪦
        </mat-slide-toggle>
      </section>
    </div>
  </div>
  <div class="p-3" [ngClass]="game.status == C.OPEN ?'backgroundPlayers':'backgroundPlayers-Small'">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <div *ngFor="let player of game?.players"
           class="player d-flex flex-column">
        <div class="d-flex flex-row justify-content-center player-action">
          <a href="{{getUserUrl(player._id)}}" target="_blank">{{player.name}} </a>
          <fa-icon class="joinQr" (click)="reJoin(player._id)" [icon]="faQrcode"></fa-icon>
          <fa-icon *ngIf="deleteUser" class="delete" (click)="onDeleteUser(player)" [icon]="faTrashCan"></fa-icon>
        </div>
        <div class="dead" *ngIf="player.status==='dead'">
          🪦
        </div>
        <div class="deadprompt" *ngIf="killUser && player.status==='alive'" (click)="onKillUser(player)">
          ☠️
        </div>
        <div class="player-frame" [ngClass]="game && game.status==='open'?'player-svg':'player-svgSmall'"
             [ngStyle]="{'border-color':'#'+player.hairColor}"
             [innerHTML]="getSanitizedSvgFromString(player.image)">
        </div>
      </div>
    </div>
  </div>
</div>
