.templateQrCode {
  margin: auto;
  text-align: center;
  background-image: url("/assets/templateJoinQrCode.svg");
  background-size: cover;
  width: 400px;
  height: 400px;
}

.guny {
  width: 300px;
}

.svg {
  left: 6px;
  top: 76px;
  position: relative;
}

.partyLeft {
  padding: 10px;

  .text {
    height: 20px;
  }
}

.qrcodeImage {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 86px;
  padding-left: 13px;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.innerQr {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.input {
  width: 135px;
}

.imgText {
  width: 150px;
}

.itemRight {
  justify-content: start;
}

.itemLeft {
  justify-content: end;
}

.countDownContainer {
  width: 320px;
  height: 320px;
  margin: 10px;

  .time {
    font-size: 65px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 47%;
  }

  .spinner {
    width: 100%;
    height: 100%;
  }
}

.deuxpoints {
  line-height: 10px;
}

.imgCardValeur {
  height: 50px;
  border-radius: 4px;
}

.player {
  margin: 5px;
  justify-content: space-between;

  &-frame {
    background: white;
  }
  &-action {
    height: 20px;
  }

  &-svg {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    border: solid black 2px;
  }

  &-svgSmall {
    width: 70px;
    height: 70px;
    border-radius: 80px;
    border: solid black 2px;
  }

  .joinQr {
    margin-left: 5px;
  }

  .delete {
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 10;
    //width: 25px;
    //height: 25px;
    color: #f44336;
  }
}

.backgroundPlayers {
  padding: 5px;
  background: #f5f5f5;
  overflow: auto;
  height: 100%;

  &-Small {
    padding: 5px;
    background: #f5f5f5;
    max-height: 350px;
  }
}
